:root {
  --blue: #39f;
}

.cropper-container {
  direction: ltr;
  font-size: 0;
  line-height: 0;
  position: relative;
  touch-action: none;
  user-select: none;

  & img {
    /* Avoid margin top issue (Occur only when margin-top <= -height) */
    display: block;
    height: 100%;
    image-orientation: 0deg;
    max-height: none !important;
    max-width: none !important;
    min-height: 0 !important;
    min-width: 0 !important;
    width: 100%;
  }
}

.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.cropper-wrap-box,
.cropper-canvas {
  overflow: hidden;
}

.cropper-drag-box {
  background-color: #fff;
  opacity: 0;
}

.cropper-modal {
  background-color: #142a3f;
  opacity: .9;
}

.cropper-view-box {
  display: block;
  height: 100%;
  //outline-color: color(var(--blue) alpha(75%));
  //outline: 1px solid var(--blue);
  overflow: hidden;
  width: 100%;
}

.cropper-dashed {
  border: 0 dashed #eee;
  display: block;
  opacity: .5;
  position: absolute;

  &.dashed-h {
    border-bottom-width: 1px;
    border-top-width: 1px;
    height: (100% / 3);
    left: 0;
    top: (100% / 3);
    width: 100%;
  }

  &.dashed-v {
    border-left-width: 1px;
    border-right-width: 1px;
    height: 100%;
    left: (100% / 3);
    top: 0;
    width: (100% / 3);
  }
}

.cropper-center {
  display: block;
  height: 0;
  left: 50%;
  opacity: .75;
  position: absolute;
  top: 50%;
  width: 0;

  &:before,
  &:after {
    background-color: #eee;
    content: ' ';
    display: block;
    position: absolute;
  }

  &:before {
    height: 1px;
    left: -3px;
    top: 0;
    width: 7px;
  }

  &:after {
    height: 7px;
    left: 0;
    top: -3px;
    width: 1px;
  }
}

.cropper-face,
.cropper-line,
.cropper-point {
  display: block;
  height: 100%;
  opacity: .1;
  position: absolute;
  width: 100%;
}

.cropper-face {
  background-color: #fff;
  left: 0;
  top: 0;
}

.cropper-line {
  //background-color: var(--blue);

  &.line-e {
    cursor: e-resize;
    right: -3px;
    top: 0;
    width: 5px;
  }

  &.line-n {
    cursor: n-resize;
    height: 5px;
    left: 0;
    top: -3px;
  }

  &.line-w {
    cursor: w-resize;
    left: -3px;
    top: 0;
    width: 5px;
  }

  &.line-s {
    bottom: -3px;
    cursor: s-resize;
    height: 5px;
    left: 0;
  }
}

.cropper-point {
  background-color: $colorBlue;
  height: 14px;
  opacity: .8;
  width: 14px;
	border-radius: 50%;

  &.point-e {
    cursor: e-resize;
    margin-top: -7px;
    right: -7px;
    top: 50%;
  }

  &.point-n {
    cursor: n-resize;
    left: 50%;
    margin-left: -7px;
    top: -7px;
  }

  &.point-w {
    cursor: w-resize;
    left: -7px;
    margin-top: -7px;
    top: 50%;
  }

  &.point-s {
    bottom: -7px;
    cursor: s-resize;
    left: 50%;
    margin-left: -7px;
  }

  &.point-ne {
    cursor: ne-resize;
    right: -7px;
    top: -7px;
  }

  &.point-nw {
    cursor: nw-resize;
    left: -7px;
    top: -7px;
  }

  &.point-sw {
    bottom: -7px;
    cursor: sw-resize;
    left: -7px;
  }

  &.point-se {
    bottom: -7px;
    cursor: se-resize;
    height: 14px;
    opacity: 1;
    right: -7px;
    width: 14px;

    //@media (min-width: 768px) {
    //  height: 15px;
    //  width: 15px;
    //}
	//
    //@media (min-width: 992px) {
    //  height: 10px;
    //  width: 10px;
    //}
	//
    //@media (min-width: 1200px) {
    //  height: 5px;
    //  opacity: .75;
    //  width: 5px;
    //}
  }

  &.point-se:before {
    background-color: var(--blue);
    bottom: -50%;
    content: ' ';
    display: block;
    height: 200%;
    opacity: 0;
    position: absolute;
    right: -50%;
    width: 200%;
  }
}

.cropper-invisible {
  opacity: 0;
}

.cropper-bg {
  //background-image: url('../images/bg.png');
}

.cropper-hide {
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

.cropper-hidden {
  display: none !important;
}

.cropper-move {
  cursor: move;
}

.cropper-crop {
  cursor: crosshair;
}

.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
  cursor: not-allowed;
}

