extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "My Page";
	- var pageDescription = "This is My Page";
	- var pageImage = "/img.jpg";

block head
	link(rel='stylesheet', href='/css/cup.style.css')/

block content
	.cup.cup_blur
		.cup__inner
			.cup__center
				.cup__logo: img(src='/img/cup/logo_cup.svg')
				.cup__btn: a(href='#', data-popup-open='#popupPreRegister').btn.btn_white ЗАРЕГИСТРИРОВАТЬ КОМПАНИЮ
		.cup__footer: a(href='#', data-popup-open='#popupAbout') О ПРОЕКТЕ

block append
	include layout/popups/popup-about
	include layout/popups/popup-preregister
	include layout/popups/popup-tnx
	include layout/popups/popup-reg
	include layout/popups/popup-category
	include layout/popups/popup-imgload