extends layout/dashboard-template

block vars
	- var pageName = "ЛК";
	- var pageTitle = "ЛК";
	- var pageDescription = "This is My Page";


block head


block content
	.dashboard__head
		.dashboard__head-title: h1 Создать компанию


	.dashboard__page
		section

			.section__title Регистрация компании
			form.form(action='/', method='post', novalidate, autocomplete='off', onsubmit='return false;')

				.grid
					.grid__col.q-2_3

						.grid
							.grid__col.q-1_2

								.form__field
									.form__label Фото компании
									.form__input.form__input_logo
										span.image.is-loaded#avatarImageCropp(style='background-image:url(/img/temp/ava_emlpoyees_1.jpg)')
											input(id='fileInput1', type='text', name='...').is-hidden
											.control
												.control-btn.control-btn_clear(data-popup-avatar='clear')
												.control-btn.control-btn_edit(data-popup-avatar='edit')
										span.link(data-popup-avatar='add') ЗАГРУЗИТЬ ФОТОГРАФИЮ

							.grid__col.q-1_2
								.form__field
									.form__label Сфера деятельности
									.form__categories#containerCategory1
									.form__text
										a(href='#', data-add-category-popup="#popupCategory", data-add-category-container='#containerCategory1').btn.btn_lighgt.btn_field.q-1 ДОБАВИТЬ


								.form__field
									.form__label Территория ведения деятельности
									.form__categories#containerCategoryRegion1
									.form__text
										a(href='#', data-add-category-popup="#popupCategoryRegion", data-add-category-container='#containerCategoryRegion1').btn.btn_lighgt.btn_field.q-1 ДОБАВИТЬ

					.grid__col.q-2_3
						.form__field
							.form__label Название организации #[span.form__label-note Например: ООО #[i «Рога и копыта»]]
							.form__input
								input(type='text', name='...', data-require)
							.form__message

						.form__field
							.form__label Название банка
							.form__input
								input(type='text', name='...', data-require)
							.form__message

						.grid
							.grid__col.q-1_2
								.form__field
									.form__label БИК банка
									.form__input
										input(type='text', name='...', data-require)
									.form__message

							.grid__col.q-1_2
								.form__field
									.form__label ОГРН
									.form__input
										input(type='text', name='...', data-require)
									.form__message

							.grid__col.q-1_2
								.form__field
									.form__label Расчетный счет
									.form__input
										input(type='text', name='...', data-require)
									.form__message

							.grid__col.q-1_2
								.form__field
									.form__label Корреспондентский счет
									.form__input
										input(type='text', name='...', data-require)
									.form__message

							.grid__col.q-1_2
								.form__field
									.form__label ИНН
									.form__input
										input(type='text', name='...', data-require)
									.form__message

							.grid__col.q-1_2
								.form__field
									.form__label КПП
									.form__input
										input(type='text', name='...', data-require)
									.form__message

							.grid__col.q-1_2
								.form__field
									.form__label ОКПО
									.form__input
										input(type='text', name='...', data-require)
									.form__message

							.grid__col.q-1_2
								.form__field
									.form__label ОКАТО
									.form__input
										input(type='text', name='...', data-require)
									.form__message

						.form__field
							.form__label ФИО
							.form__input
								input(type='text', name='...', data-require)
							.form__message

						.form__field
							.form__label Почтовый адрес
							.form__input
								input(type='text', name='...', data-require)
							.form__message

						.form__field
							.form__label Фактический адрес
							.form__input
								input#regInputActualAddress(type='text', name='...', data-require)
							.form__message

						.form__field
							.form__input.form__input_checkbox
								input#regCheckboxJoinAddress(type='checkbox', name='...', data-checkbox-check='$(\'#regInputLegalAddress\').val($(\'#regInputActualAddress\').val())')
								label(for='regCheckboxJoinAddress') Совпадает с юридическим

						.form__field._reg-legal-address
							.form__label Юридический адрес
							.form__input
								input#regInputLegalAddress(type='text', name='...')
							.form__message

					.grid__col.q-1_3
						.form__field
							.form__label Форма собственности
							.form__input.form__input_select
								select(data-placeholder="Выбирете из списка")
									option
									optgroup(label='Название списка 1')
										option(value='1', data-wrap-tag='b') ИП
										option(value='2') Длинное название в 2 строчки, абракадабра
										option(value='3') ЗАО
										option(value='3') ОАО
									optgroup(label='Название списка 2')
										option(value='4') ИП
										option(value='5') Длинное название в 2 строчки
										option(value='6') ЗАО
										option(value='7') ОАО
							.form__message


					.grid__col.q-1
						.phone-reg-template-wrap
							.grid.phone-reg-template-item
								.grid__col.q-2_3
									.form__field
										.form__label Номер мобильного телефона
										.form__input.form__input_phone
											select(data-minimum-results-for-search='-1', name='...')
												option(value='1') +7
												option(value='2') +8
												option(value='3') +9
												option(value='4') +325
											input(type='tel', name='...', data-inputmask-mask='999 - 999 - 99 - 99')
										.form__message

								.grid__col.q-1_3
									.form__field
										.form__label Добавочный
										.form__input
											.form__field-copy
												.form__field-copy-add(data-hint='Добавить телефон')
												.form__field-copy-remove
											input(type='text', name='...', data-require='number')
										.form__message

							template#phoneNumberTemplate.
								<div class="grid phone-reg-template-item">
									<div class="grid__col q-2_3">
										<div class="form__field">
											<div class="form__label">Номер мобильного телефона</div>
											<div class="form__input form__input_phone">
												<select data-minimum-results-for-search="-1" name="someSelectName[{{1}}]" >
													<option value="1">+7</option>
													<option value="2">+8</option>
													<option value="3">+9</option>
													<option value="4">+325</option>
												</select>
												<input type="tel" name="somePhoneName[{{1}}]" data-inputmask-mask="999 - 999 - 99 - 99">
											</div>
											<div class="form__message"></div>
										</div>
									</div>
									<div class="grid__col q-1_3">
										<div class="form__field">
											<div class="form__label">Добавочный</div>
											<div class="form__input">
												<div class="form__field-copy">
													<div class="form__field-copy-add" data-hint="Добавить телефон"></div>
													<div class="form__field-copy-remove"></div>
												</div>
												<input type="text" name="somePostfixName[{{1}}]" data-require="number">
											</div>
											<div class="form__message"></div>
										</div>
									</div>
								</div>


					.grid__col.q-2_3

						.form__field
							.form__label E-mail для корреспонденции
							.form__input
								input(type='text', name='...', id='corEmail', data-require='email')
							.form__message

						.form__field
							.form__input.form__input_checkbox
								input#checkboxInput7(type='checkbox', name='...', data-checkbox-check='$(\'#corEmail\').prop(\'disabled\', true)', data-checkbox-uncheck='$(\'#corEmail\').prop(\'disabled\', false)')
								label(for='checkboxInput7') Совпадает с адресом при регистрации
							.form__message

						.form__field
							.form__label Адрес сайта
							.form__input.form__input_url
								i.form__input-ico
								input(type='text', name='...')
							.form__message

					.grid__col.q-1
						.form__field
							.form__label Краткое описание #[span.form__label-hint (Макс. 5000 символов)]
							.form__input.form__input_textarea
								textarea(name='...', maxlength='5000')


						.form__field
							.form__input.form__input_checkbox
								input#checkboxInput6(type='checkbox', name='...', data-require='checkbox')
								label(for='checkboxInput6') Я даю согласие на хранение данных


						.form__field
							.form__input.form__input_submit
								input.btn(type='submit', value='ЗАРЕГИСТРИРОВАТЬ КОМПАНИЮ')
								a(href='#', data-popup-close='.popup').btn.btn_poor ОТМЕНА


	.dashboard__footer
		.dashboard__footer-logo: include ../img/dashboard/logo.svg
		.dashboard__footer-text © «Хедерлинк», 2017
		.dashboard__footer-text Обратная связь: ask@headerlink.ru

block append
	include layout/popups/popup-category
	include layout/popups/popup-imgload
