extends layout/dashboard-template


mixin userRow(ava, name, rank, active)
	tr.section__table-row(class= active ? 'is-active': '')

		td.section__table-col.section__table-col_first
			.t-checkbox
				.form__input.form__input_checkbox
					label
						input(type='checkbox', name='...')
						.label

		td.section__table-col.section__table-col_user
			.t-notify
				.t-notify__avatar: .t-user__icon: img(src='/img/temp/'+ava, alt= name)
				.t-notify__name!= name

		td.section__table-col.section__table-col_rank
			.t-rank!= rank

		td.section__table-col.section__table-col_control
			.js-dropmenu.t-hover
				.t-more.js-dropmenu-open
				.dropmenu
					.dropmenu-close.js-dropmenu-close
					.dropmenu-title ЧТОТО
					ul
						li Чтото
						li Чтото


mixin filter(length)
	.q-fl
		.form
			.form__field
				.form__input.form__input_text Отмечено: #[span.c-black.js-tablerow-chacked 0/#{length}]

			.form__field
				.form__input.form__input_select.section__filter-select-event
					select(data-placeholder="Выберите действие", data-minimum-results-for-search="-1")
						option
						option(value='1') Встать
						option(value='2') Сказать тост
						option(value='3') Сплясать
						option(value='4') Развернуться
						option(value='5') Уйти

			.form__field
				.form__input
					button.btn.btn_blue(type='submit') ПРИМЕНИТЬ

	.q-fr
		.form
			.form__field
				.form__input.form__input_text На странице:

			.form__field
				.form__input.form__input_select.section__filter-select-count
					select(data-placeholder="Выберите действие", data-minimum-results-for-search="-1")
						option(selected, value='1') 50
						option(value='2') 75
						option(value='3') 100
						option(value='4') 200

mixin pager(count, active)
	.section__pager
		.section__pager-item.section__pager-item_text Страницы:
		- for(var i = 1; i <= count; i++)
			if (i === 6)
				.section__pager-item.section__pager-item_dot ...
			else
				a.section__pager-item.section__pager-item_link(href='#', class= i === active ? 'is-active' : '')= i

		if (count > 1)
			a(href='#').section__pager-item.section__pager-item_prev.is-disabled Предыдущая
			a(href='#').section__pager-item.section__pager-item_next Следущая

block vars
	- var pageName = "ЛК";
	- var pageTitle = "ЛК";
	- var pageDescription = "This is My Page";


block head


block content
	.dashboard__head
		.dashboard__head-title: h1 Оповещения
		.dashboard__head-right: a(href='#').btn.btn_blue НАСТРОИТЬ ОПОВЕЩЕНИЯ



	.dashboard__page

		section

			.section__table.section__table_head
				table.section__table-wrap
					tr.section__table-head
						th.section__table-col.section__table-col_first
							.t-checkbox
								.form__input.form__input_checkbox
									label
										input(type='checkbox', name='...')
										.label

						th.section__table-col
							.t-refresh



			form
				.section__table.section__table_notify
					table.section__table-wrap
						//-tr.section__table-head
							th.section__table-col
								.t-checkbox
									.form__input.form__input_checkbox
										label
											input(type='checkbox', name='...')
											.label

							th.section__table-col(colspan='3')
								.t-refresh

						+userRow('ava_icon_01.svg', 'Продаётся отслеживаемый заголовок <a href="#">"Купить трактор"</a>', '14.15.2017 14:44')
						+userRow('ava_icon_01.svg', 'Продаётся отслеживаемый заголовок <a href="#">"Купить трактор в Санкт-Петербурге"</a>', '14.15.2017 14:44', true)
						+userRow('ava_emlpoyees_2.jpg', '<a href="#">РВК Северо-Запад</a> прислал вам сообщение', '14.15.2017 14:44')
						+userRow('ava_icon_02.svg', 'Вашу компанию добавили в избранное <a href="#">"РВК Северо-Запад"</a>', '14.15.2017 14:44')
						+userRow('ava_icon_03.svg', 'Запрос на продажу заголовка <a href="#">"Продам трубу"</a> Цена: 4500р', '14.15.2017 14:44', true)
						+userRow('ava_icon_04.svg', 'Объявление <a href="#">"Продать трубу 1320мм"</a> снято с публикации ', '14.15.2017 14:44', true)
						+userRow('ava_icon_01.svg', 'Продаётся отслеживаемый заголовок <a href="#">"Купить трактор"</a>', '14.15.2017 14:44')
						+userRow('ava_icon_01.svg', 'Продаётся отслеживаемый заголовок <a href="#">"Купить трактор в Санкт-Петербурге"</a>', '14.15.2017 14:44', true)
						+userRow('ava_emlpoyees_2.jpg', '<a href="#">РВК Северо-Запад</a> прислал вам сообщение', '14.15.2017 14:44')
						+userRow('ava_icon_02.svg', 'Вашу компанию добавили в избранное <a href="#">"РВК Северо-Запад"</a>', '14.15.2017 14:44')
						+userRow('ava_icon_03.svg', 'Запрос на продажу заголовка <a href="#">"Продам трубу"</a> Цена: 4500р', '14.15.2017 14:44', true)
						+userRow('ava_icon_04.svg', 'Объявление <a href="#">"Продать трубу 1320мм"</a> снято с публикации ', '14.15.2017 14:44', true)

				.section__filter.clearfix
					+filter(12)

			+pager(7,1)

	.dashboard__footer
		.dashboard__footer-logo: include ../img/dashboard/logo.svg
		.dashboard__footer-text © «Хедерлинк», 2017
		.dashboard__footer-text Обратная связь: ask@headerlink.ru

block append
	include layout/popups/popup-category
