extends layout/dashboard-template

block vars
	- var pageName = "ЛК";
	- var pageTitle = "ЛК";
	- var pageDescription = "This is My Page";


block head


block content
	.dashboard__head
		.dashboard__head-title: h1 Страницы


	.dashboard__page
		section
			//-p: a(href='dashboard.home.html') Главная
			p: a(href='dashboard.company-register.html') Регистрация компании
			p: a(href='dashboard.my-account.html') Мой аккаунт
			p: a(href='dashboard.employees.html') Сотрудники
			p: a(href='dashboard.notification.html') Оповещения

	//-.dashboard__footer
		.dashboard__footer-logo: include ../img/dashboard/logo.svg
		.dashboard__footer-text © «Хедерлинк», 2017
		.dashboard__footer-text Обратная связь: ask@headerlink.ru

block append
	include layout/popups/popup-category
