extends layout/dashboard-template

block vars
	- var pageName = "ЛК";
	- var pageTitle = "ЛК";
	- var pageDescription = "This is My Page";


block head


block content
	.dashboard__head
		.dashboard__head-title: h1 Мой аккаунт
		.dashboard__head-right: a(href='#').btn.btn_blue УДАЛИТЬ АККАУНТ



	.dashboard__page
		section

			.section__head
				.section__title Основные данные

			form.form(action='/', method='post', novalidate, autocomplete='off')

				.grid
					.grid__col.q-2_3

						.grid
							.grid__col.q-1_2
								.form__field
									.form__label Фамилия
									.form__input
										input(type='text', name='...', data-require)
									.form__message

							.grid__col.q-1_2
								.form__field
									.form__label Имя
									.form__input
										input(type='text', name='...', data-require)
									.form__message

							.grid__col.q-1_2
								.form__field
									.form__label Город
									.form__input.form__input_select
										select(data-placeholder="Выбирете из списка", data-require)
											option
											option(value='4') Москва
											option(value='5') Санкт-Петербург
											option(value='6') Нижний Новгород
											option(value='7') Казань
											option(value='8') Сыктывкар
									.form__message
						.grid
							.grid__col.q-1_2
								.form__field
									.form__label Пол
									.form__input.form__input_radiobutton
										span.q-1_2
											input#radiobuttonMale(type='radio', name='gender', value='male', data-require)
											label.label.radiobutton-male(for='radiobuttonMale') Мужской
										span.q-1_2
											input#radiobuttonFemale(type='radio', name='gender', value='female', data-require)
											label.label.radiobutton-female(for='radiobuttonFemale') Женский
									.form__message
							.grid__col.q-1_2
								.form__field
									.form__label &nbsp;
									.form__input.form__input_radio
										input#radioHZ(checked, type='radio', name='gender', value='transvestit', data-require='radio')
										label(for='radioHZ') Не определился
									.form__message

						.grid.f-changin
							.grid__col.q-1_2
								.form__field
									.form__input
										button.btn.btn_blue(type='submit') Сохранить
										button.btn.btn_poor.js-form-unchange(type='reset') Отмена

		section

			.section__head
				.section__title Адрес электронной почты
				.section__subtitle Ваш адрес электронной почты используется для получения отчетов об эффективности и для входа в свою учетную запись HEADERLINK.

			form.form(action='/', method='post', novalidate, autocomplete='off')

				.grid
					.grid__col.q-2_3

						.grid
							.grid__col.q-1_2
								.form__field
									.form__label E-mail
									.form__input.form__input_email
										i.form__input-ico
										input(type='email', name='changeEmail', data-require='email', disabled, data-change='disabled')
										span.placeholder Е-mail
									.form__message

						.grid.f-changin
							.grid__col.q-1_2
								.form__field
									.form__label Действующий пароль
									.form__input.form__input_password
										i.form__input-ico
										input(type='password', name='loginPass', data-require)
										i.form__input-unpass
										span.placeholder Пароль
									.form__message

						.grid.f-changout
							.grid__col.q-1_2
								.form__field
									.form__input.form__input_changebtn: a(href='#').js-form-change ИЗМЕНИТЬ АДРЕС

						.grid.f-changin
							.grid__col.q-1_2
								.form__field
									.form__input
										button.btn.btn_blue(type='submit') Сохранить
										button.btn.btn_poor.js-form-unchange(type='reset') Отмена

		section

			.section__head
				.section__title Ваш пароль
				.section__subtitle Ваш адрес электронной почты используется для получения отчетов об эффективности и для входа в свою учетную запись HEADERLINK.

			form.form(action='/', method='post', novalidate, autocomplete='off')

				.grid
					.grid__col.q-1

						.grid
							.grid__col.q-1_3
								.form__field
									.form__label Действующий пароль
									.form__input.form__input_password
										i.form__input-ico
										input(type='password', name='loginPass', disabled, value='******', data-require, data-change='disabled')
										i.form__input-unpass
									.form__message

							.grid__col.q-1_3
								.form__field.f-changin
									.form__label Новый пароль
									.form__input.form__input_password
										input(type='password', name='oldLoginPass', data-require='password')
										i.form__input-unpass
									.form__message

							.grid__col.q-1_3
								.form__field.f-changin
									.form__label Повторить новый пароль
									.form__input.form__input_password
										input(type='password', name='newLoginPass', data-require)
										i.form__input-unpass
									.form__message

						.grid.f-changout
							.grid__col.q-1_2
								.form__field
									.form__input.form__input_changebtn: a(href='#').js-form-change ИЗМЕНИТЬ ПАРОЛЬ

						.grid.f-changin
							.grid__col.q-1_2
								.form__field
									.form__input
										button.btn.btn_blue(type='submit') Сохранить
										button.btn.btn_poor.js-form-unchange(type='reset') Отмена
		section

			.section__head
				.section__title Ваш аккаунт

			form.form(action='/', method='post', novalidate, autocomplete='off')

				.grid
					.grid__col.q-1

						.grid
							.grid__col.q-2_3
								.form__field
									.form__label Адрес вашей страницы
									.form__input.form__input_copy
										.copy-field http://headerlink.ru/user4567334
										.copy-btn.btn.btn_blue(data-clipboard-text='http://headerlink.ru/user4567334') КОПИРОВАТЬ
										.copy-ico(data-clipboard-text='http://headerlink.ru/user4567334')
									.form__message


						.grid
							.grid__col.q-1
								.form__field
									.form__label Удалить аккаунт
									.form__input.form__input_text.c-dis Каждый день мы улучшаем сайт для наших пользователей, мы расстроимся если вы нас покинете. #[a(href='#').c-grey УДАЛИТЬ АККАУНТ]




	.dashboard__footer
		.dashboard__footer-logo: include ../img/dashboard/logo.svg
		.dashboard__footer-text © «Хедерлинк», 2017
		.dashboard__footer-text Обратная связь: ask@headerlink.ru

block append
	include layout/popups/popup-category
