extends layout/dashboard-template


mixin userRow(type, favorite, ava, name, rank, more)
	tr.section__table-row
		td.section__table-col.section__table-col_first
			.t-checkbox
				.form__input.form__input_checkbox
					label
						input(type='checkbox', name='...')
						.label

			if ( favorite !== 'none')
				i.t-favorite(class= favorite ? 'is-active' : '')
		td.section__table-col.section__table-col_user
			.t-user.is-online
				.t-user__avatar: .t-user__image: img(src='/img/temp/'+ava+'.jpg', alt= name)
				.t-user__name!= name
		td.section__table-col.section__table-col_edit
			if ( type !== 'aspirant')
				.t-edit
		td.section__table-col.section__table-col_rank
			.t-rank!= rank
		if ( type !== 'aspirant')
			td.section__table-col.section__table-col_contact
				.t-contact
					| 8 (911) 556-56-56,
					if ( more )
						.t-link.js-dropmenu
							.t-link__text.js-dropmenu-open еще 3
							.dropmenu
								.dropmenu-close.js-dropmenu-close
								.dropmenu-title ВСЕ КОНТАКТЫ
								ul
									li 8 (911) 556-56-56
									li kakoy-to@email.com
									li kakoy-to@email.com
		td.section__table-col.section__table-col_control
			if ( type === 'dismissal' )
				.t-restore.t-hover.bp_ns
					.btn.btn_green ВОССТАНОВИТЬ

				.js-dropmenu.t-hover.bp_s
					.t-more.js-dropmenu-open
					.dropmenu
						.dropmenu-close.js-dropmenu-close
						.dropmenu-title СОТРУДНИК
						ul
							li: a(href='#') Восстановить
			else if( type === 'aspirant' )
				.t-restore.t-hover.bp_ns
					.btn.btn_green ПРИНЯТЬ ЗАЯВКУ

				.js-dropmenu.t-hover.bp_s
					.t-more.js-dropmenu-open
					.dropmenu
						.dropmenu-close.js-dropmenu-close
						.dropmenu-title СОТРУДНИК
						ul
							li: a(href='#') Принять заявку
			else
				.t-settings

mixin filter(length)
	.q-fl
		.form
			.form__field
				.form__input.form__input_text Отмечено: #[span.c-black.js-tablerow-chacked 0/#{length}]

			.form__field
				.form__input.form__input_select.section__filter-select-event
					select(data-placeholder="Выберите действие", data-minimum-results-for-search="-1")
						option
						option(value='1') Встать
						option(value='2') Сказать тост
						option(value='3') Сплясать
						option(value='4') Развернуться
						option(value='5') Уйти

			.form__field
				.form__input
					button.btn.btn_blue(type='submit') ПРИМЕНИТЬ

	.q-fr
		.form
			.form__field
				.form__input.form__input_text На странице:

			.form__field
				.form__input.form__input_select.section__filter-select-count
					select(data-placeholder="Выберите действие", data-minimum-results-for-search="-1")
						option(selected, value='1') 50
						option(value='2') 75
						option(value='3') 100
						option(value='4') 200

mixin pager(count, active)
	.section__pager
		.section__pager-item.section__pager-item_text Страницы:
		- for(var i = 1; i <= count; i++)
			if (i === 6)
				.section__pager-item.section__pager-item_dot ...
			else
				a.section__pager-item.section__pager-item_link(href='#', class= i === active ? 'is-active' : '')= i

		if (count > 1)
			a(href='#').section__pager-item.section__pager-item_prev.is-disabled Предыдущая
			a(href='#').section__pager-item.section__pager-item_next Следущая

block vars
	- var pageName = "ЛК";
	- var pageTitle = "ЛК";
	- var pageDescription = "This is My Page";


block head


block content
	.dashboard__head
		.dashboard__head-title: h1 Сотрудники
		.dashboard__head-right: a(href='#').btn.btn_blue НАЙТИ СОТРУДНИКА



	.dashboard__page
		.gallery
			.section__title Избранные сотрудники (6)
			.gallery__list
				.gallery__list-inner

					-for (var i = 0; i < 5; i++)

						.gallery__item
							.gallery__item-inner
								.gallery__item-favorite
								.gallery__item-status.c-green online
								.gallery__item-avatar: img(src='/img/temp/ava_emlpoyees_1.jpg', alt='Константин Константинопольский')
								.gallery__item-name: span Константин Константинопольский
								.gallery__item-post Менеджер, логист
								.gallery__item-control
									.control.control_edit
									.control.control_settings
									.control.control_more

						.gallery__item
							.gallery__item-inner
								.gallery__item-favorite.is-active
								.gallery__item-status заходил сегодня в 15:42
								.gallery__item-avatar: img(src='/img/temp/ava_emlpoyees_2.jpg', alt='Константин Константинопольский')
								.gallery__item-name: span Эдуард Эдуардович
								.gallery__item-post Главный бухгалтер
								.gallery__item-control
									.control.control_edit
									.control.control_settings
									.control.control_more

		section

			.section__tab
				.section__tab-link.is-active(data-tab-link='allEmployees', data-tab-group='employees') ВСЕ СОТРУДНИКИ (112)
				.section__tab-link(data-tab-link='dismissalEmployees', data-tab-group='employees') УВОЛЕННЫЕ (3)
				.section__tab-link(data-tab-link='aspirantEmployees', data-tab-group='employees') ЗАПРОСЫ (16)
				.section__tab-link(data-tab-link='invitedEmployees', data-tab-group='employees') ПРИГЛАШЕНИЯ (16)

			.section__search
				.form
					.form__field
						.form__input.form__input_search
							i.form__input-ico
							input(type='text', name='searchEmployees')
							span.placeholder Начните вводить имя сотрудника



			div.is-active(data-tab-target='allEmployees', data-tab-group='employees')
				form
					.section__table
						table.section__table-wrap
							tr.section__table-head
								th.section__table-col
									.t-checkbox
										.form__input.form__input_checkbox
											label
												input(type='checkbox', name='...')
												.label

								th.section__table-col(colspan='2')
									.t-title ФИО СОТРУДНИКА

								th.section__table-col
									.t-title ДОЛЖНОСТЬ

								th.section__table-col
									.t-title КОНТАКТЫ

							+userRow(1, true, 'ava_emlpoyees_2', 'Константин Константинопольский', 'Менеджер', true)
							+userRow(2, false, 'ava_emlpoyees_1', 'Эдуард Эдуардович', 'Главный бухгалтер', false)
							+userRow(3, false, 'ava_emlpoyees_2', 'Эдуард Эдуардович<br>Константинопольский', 'Специалист по логистике', false)
							+userRow(4, false, 'ava_emlpoyees_1', 'Эдуард Эдуардович', 'Главный бухгалтер', true)
							+userRow(5, true, 'ava_emlpoyees_2', 'Константин Константинопольский', 'Менеджер', true)
							+userRow(6, false, 'ava_emlpoyees_1', 'Эдуард Эдуардович', 'Главный бухгалтер', false)
							+userRow(7, false, 'ava_emlpoyees_2', 'Эдуард Эдуардович Константинопольский', 'Специалист по логистике', false)
							+userRow(8, false, 'ava_emlpoyees_1', 'Эдуард Эдуардович', 'Главный бухгалтер', true)
							+userRow(9, false, 'ava_emlpoyees_2', 'Эдуард Константинопольский', 'Специалист по логистике', false)
							+userRow(10, false, 'ava_emlpoyees_1', 'Эдуард Эдуардович', 'Главный бухгалтер', true)
							+userRow(11, true, 'ava_emlpoyees_2', 'Константин Константинопольский', 'Менеджер', true)
							+userRow(12, false, 'ava_emlpoyees_1', 'Эдуард Эдуардович', 'Главный бухгалтер', false)

					.section__filter.clearfix
						+filter(12)

				+pager(7,1)

			div(data-tab-target='dismissalEmployees', data-tab-group='employees')
				form
					.section__table
						table.section__table-wrap
							tr.section__table-head
								th.section__table-col
									.t-checkbox
										.form__input.form__input_checkbox
											label
												input(type='checkbox', name='...')
												.label

								th.section__table-col(colspan='2')
									.t-title ФИО СОТРУДНИКА

								th.section__table-col
									.t-title ДОЛЖНОСТЬ

								th.section__table-col
									.t-title КОНТАКТЫ
							+userRow('dismissal', 'none', 'ava_emlpoyees_2', 'Константин Константинопольский', 'Менеджер', true)
							+userRow('dismissal', 'none', 'ava_emlpoyees_1', 'Эдуард Эдуардович', 'Главный бухгалтер', false)
							+userRow('dismissal', 'none', 'ava_emlpoyees_2', 'Эдуард Константинопольский', 'Специалист по логистике', false)

					.section__filter.clearfix
						+filter(3)

				+pager(1,1)

			div(data-tab-target='aspirantEmployees', data-tab-group='employees')
				form
					.section__table
						table.section__table-wrap
							tr.section__table-head
								th.section__table-col
									.t-checkbox
										.form__input.form__input_checkbox
											label
												input(type='checkbox', name='...')
												.label

								th.section__table-col(colspan='2')
									.t-title ФИО СОТРУДНИКА

								th.section__table-col
									.t-title ДАТА ПОДАЧИ ЗАЯВКИ

							+userRow('aspirant', 'none', 'ava_emlpoyees_2', 'Константин Константинопольский', 'Только что', true)
							+userRow('aspirant', 'none', 'ava_emlpoyees_2', 'Константин Константинопольский', '30 минут назад', true)
							+userRow('aspirant', 'none', 'ava_emlpoyees_1', 'Эдуард Эдуардович', '1 час назад', false)
							+userRow('aspirant', 'none', 'ava_emlpoyees_2', 'Эдуард Эдуардович<br>Константинопольский', '31.10.2017', false)
							+userRow('aspirant', 'none', 'ava_emlpoyees_1', 'Эдуард Эдуардович', '30.10.2017', true)
							+userRow('aspirant', 'none', 'ava_emlpoyees_2', 'Константин Константинопольский', '12.09.2017', true)
							+userRow('aspirant', 'none', 'ava_emlpoyees_1', 'Эдуард Эдуардович', '12.09.2017', false)
							+userRow('aspirant', 'none', 'ava_emlpoyees_2', 'Эдуард Эдуардович Константинопольский', '12.09.2017', false)
							+userRow('aspirant', 'none', 'ava_emlpoyees_1', 'Эдуард Эдуардович', '12.09.2017', true)
							+userRow('aspirant', 'none', 'ava_emlpoyees_2', 'Эдуард Константинопольский', '12.09.2017', false)
							+userRow('aspirant', 'none', 'ava_emlpoyees_1', 'Эдуард Эдуардович', '12.09.2017', false)
							+userRow('aspirant', 'none', 'ava_emlpoyees_2', 'Эдуард Эдуардович<br>Константинопольский', '12.09.2017', false)

					.section__filter.clearfix
						+filter(12)

				+pager(2,1)

			div(data-tab-target='invitedEmployees', data-tab-group='employees')
				form
					.section__table
						table.section__table-wrap
							tr.section__table-head
								th.section__table-col
									.t-checkbox
										.form__input.form__input_checkbox
											label
												input(type='checkbox', name='...')
												.label

								th.section__table-col(colspan='2')
									.t-title ФИО СОТРУДНИКА

								th.section__table-col
									.t-title ДОЛЖНОСТЬ

								th.section__table-col(colspan='2')
									.t-title КОНТАКТЫ
							+userRow(28, true, 'ava_emlpoyees_2', 'Константин Константинопольский', 'Менеджер', true)
							+userRow(29, false, 'ava_emlpoyees_2', 'Эдуард Эдуардович<br>Константинопольский', 'Специалист по логистике', false)
							+userRow(30, true, 'ava_emlpoyees_2', 'Константин Константинопольский', 'Менеджер', true)
							+userRow(31, false, 'ava_emlpoyees_1', 'Эдуард Эдуардович', 'Главный бухгалтер', false)
							+userRow(32, false, 'ava_emlpoyees_2', 'Эдуард Эдуардович<br>Константинопольский', 'Специалист по логистике', false)
							+userRow(33, false, 'ava_emlpoyees_1', 'Эдуард Эдуардович', 'Главный бухгалтер', true)
							+userRow(34, true, 'ava_emlpoyees_2', 'Константин Константинопольский', 'Менеджер', true)
							+userRow(35, false, 'ava_emlpoyees_1', 'Эдуард Эдуардович', 'Главный бухгалтер', false)
							+userRow(36, false, 'ava_emlpoyees_2', 'Эдуард Эдуардович Константинопольский', 'Специалист по логистике', false)
							+userRow(37, false, 'ava_emlpoyees_1', 'Эдуард Эдуардович', 'Главный бухгалтер', true)
							+userRow(38, false, 'ava_emlpoyees_1', 'Эдуард Эдуардович', 'Главный бухгалтер', false)
							+userRow(39, false, 'ava_emlpoyees_2', 'Эдуард Эдуардович<br>Константинопольский', 'Специалист по логистике', false)


					.section__filter.clearfix
						+filter(12)

				+pager(2,1)


	.dashboard__footer
		.dashboard__footer-logo: include ../img/dashboard/logo.svg
		.dashboard__footer-text © «Хедерлинк», 2017
		.dashboard__footer-text Обратная связь: ask@headerlink.ru

block append
	include layout/popups/popup-category
