extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "My Page";
	- var pageDescription = "This is My Page";
	- var pageImage = "/img.jpg";
	- var showAuthPanel = true;

block head
	link(rel='stylesheet', href='/css/style.css')/

block content
	div(style='padding:30px')
		p: a(href='cup.html') cup.html
		p: a(href='dashboard_map.html') ЛК
		p: span(data-auth='login') Открыть меню входа
		p: span(data-auth='sent') Письмо на восстановление отправлено
		p: span(data-popup-open='.popup_category') Попап выбора категории

block append
	include layout/popups/popup-category