.popup.popup_prereg#popupPreRegister
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__logo
			.popup__content
				.popup__content-inner
					.popup__title ПРЕИМУЩЕСТВА РЕГИСТРАЦИИ
					.popup__text
						p Приглашаем Вас прямо сейчас пройти предварительную регистрацию на проекте HEADERLINK.RU и у Вас появится своё виртуальное представительство на нашем портале, открытое 24 часа в сутки, без обедов и выходных.
						p Пройти авторизацию и размещать свою рекламную информацию на портале HEADERLINK могут только юридические лица, индивидуальные и частные предприниматели. Вся предоставленная пользователями информация проверяется Модератором, каталогизируется по регионам и сферам деятельности после чего организация будет автоматически размещена в ОТРАСЛЕВОМ БИЗНЕС СПРАВОЧНИКЕ HEADERLINK. Постарайтесь предоставить максимально полную, актуальную информацию которая будет отражать все направления деятельности Вашей организации, сможет заинтересовать потенциальных клиентов и привлечь внимание будущих партнёров. Процедура регистрации не займет у Вас много времени.

				.popup__advantage
					.popup__advantage-row
						.popup__advantage-col
							.popup__advantage-title ПРЕИМУЩЕСТВА ПРОСТОЙ РЕГИСТРАЦИИ
							ul
								li Первым узнайте о появлении HEADERLINK в сети и получите доступ к личному кабинету уже с зарегистрированным аккаунтом
								li Вся размещенная реклама на HEADERLINK это ваш актив, который можно манетизировать в реальный доход - на HEADERLINK вам заплатят за вашу рекламу - узнайте первым о всех возможностях портала.
						.popup__advantage-col
							.popup__advantage-title ПРЕИМУЩЕСТВА ПОЛНОЙ РЕГИСТРАЦИИ
							ul
								li Одним из первых познакомьте аудиторию портала с детельностью своей компании
								li Еще на старте получите рейтинг HEADERLINK за переходы посетителей из бизнес справочника на ваш сайт
								li Первым узнайте о появлении HEADERLINK в сети и получите доступ к личному кабинету уже с зарегистрированным аккаунтом
								li Разместите свои рекламные предложения на HEADERLINK одним из 100 первых и получите 1000 баллов в рейтинг своих товаров или услуг! (Данная оферта для первых 100 компаний)
								li Вся размещенная реклама на HEADERLINK это ваш актив, который можно манетизировать в реальный доход - на HEADERLINK вам заплатят за вашу рекламу - узнайте первым о всех возможностях портала.
					.popup__advantage-row
						.popup__advantage-col.q-ac
							a(href='#', data-popup-open='#popupShortReg').btn ПРОЙТИ ПРОСТУЮ РЕГИСТРАЦИЮ
						.popup__advantage-col.q-ac
							a(href='#', data-popup-open='#popupFullReg').btn ПРОЙТИ ПОЛНУЮ РЕГИСТРАЦИЮ
