.popup.popup_message#popupTnx
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__logo
			.popup__content
				.popup__content-inner
					.popup__title СПАСИБО ЗА РЕГИСТРАЦИЮ
					.popup__message: .popup__message-inner: p Тут какой-то текст-обращение к&nbsp;посетителю#[br]о&nbsp;дальнейших действиях
					.popup__footer
						a(href='#', data-popup-close='.popup') ЗАКРЫТЬ

