.popup.popup_about#popupAbout
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__logo
			.popup__content
				.popup__content-inner
					.popup__title О ПРОЕКТЕ
					.popup__text: p На домене #[a(href='#') HEADERLINK.RU] создаётся уникальная интернет платформа для размещения рекламного контента. Портал публикует бесплатно рекламную информацию только от зарегистрированных пользователей.
					.popup__footer
						a(href='#', data-popup-open='#popupPreRegister') ЗАРЕГИСТРИРОВАТЬСЯ
						a(href='#', data-popup-close='.popup').c-black ОТМЕНА

