.popup.popup_imageload#popupImageLoad
	.popup__overlay

	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__content-inner.js-view-preload
					.popup__title ЗАГРУЗКА ФОТО КОМПАНИИ
					.popup__text
						p Вы можете загрузить изображение в формате JPG, GIF или PNG.

					.popup__load
						input(id='popupFileLoadInput', type='file', accept='image/jpeg,image/jpg,image/png,image/gif').is-hidden
						label.btn.btn_blue(for='popupFileLoadInput') ВЫБРАТЬ ФАЙЛ

					.popup__footnote Если у Вас возникают проблемы с загрузкой, попробуйте выбрать фотографию меньшего размера.

				.popup__content-inner.js-view-load
					.popup__title ЗАГРУЗКА ФОТО КОМПАНИИ
					.popup__text
						p Обождите, идет загрузка изображения

					.popup__load
						.popup__load-progress
							.popup__load-progress-svg
								svg(xmlns="http://www.w3.org/2000/svg" width="170" height="170" viewBox="0 0 170 170")
									circle.svg-circle(cx="85", cy="85", r="78.94")
									circle.svg-pie(cx="85", cy="85", r="78.94", style='stroke-dashoffset:500')
							.popup__load-progress-val 0%

					.popup__footnote Мой лого.jpg

					.popup__text
						p: .btn.btn_white.c-grey(data-popup-avatar='stop') ОТМЕНИТЬ ЗАГРУЗКУ


				.popup__content-inner.js-view-afterload
					.popup__title ФОТО КОМПАНИИ
					.popup__text
						p Выбранная область будет показываться на Вашей странице.<br>Фотографию можно повернуть, уменьшить или растянуть до нужного размера.

					.popup__load
						.popup__load-cropper
							.popup__load-cropper-container
							.popup__load-cropper-control
								.control-btn.control-btn_clear
								.control-btn.control-btn_rotatecw
								.control-btn.control-btn_rotateccw

					.popup__text
						p
							.btn.btn_blue(data-popup-avatar='save') СОХРАНИТЬ И ПРОДОЛЖИТЬ
							.btn.btn_white.c-grey(data-popup-avatar='cancel') ВЕРНУТЬСЯ НАЗАД


	.popup__dragbox
		.popup__dragbox-inner Перенесите фотографию сюда,#[br]просто перетащив её из нужной папки.
		.popup__dragbox-text Перенесите фотографию сюда,#[br]просто перетащив её из нужной папки.