.popup.popup_category#popupCategory
	.popup__overlay
	.popup__inner

		.popup__layout
			.popup__close.js-popup-categories-cancel
			.popup__content
				.popup__category-main
					.popup__category-head
						.popup__title ВЫБЕРИТЕ РАЗДЕЛ
						.popup__category-form
							.form
								.form__field
									.form__input.form__input_search
										i.form__input-ico
										input.js-popup-category-search(type='text', name='registerEmail', data-action='/data/popup-category-search.json')
										span.placeholder Поиск по разделам

					.popup__category-column.popup__category-column_left
						.popup__category-list.js-scrollbar.js-popup-category-list(data-url='/data/popup-category.json')
							.popup__category-item(data-text-main='Все разделы', data-text-notfound='поиск не дал результатов') Все разделы
							.popup__category-inner

								.popup__category-group
									.popup__category-letter В
									.popup__category-link.is-active(data-id='551')
										span Всё для торговли
										span.count
										i.act

								.popup__category-group
									.popup__category-letter И
									.popup__category-link(data-id='552')
										span Инструменты
										span.count
										i.act

									.popup__category-link(data-id='553')
										span Информационные технологии
										span.count
										i.act

								.popup__category-group
									.popup__category-letter К
									.popup__category-link(data-id='554')
										span Компьютерная техника
										span.count
										i.act

								.popup__category-group
									.popup__category-letter М
									.popup__category-link(data-id='555')
										span Мебель
										span.count
										i.act

									.popup__category-link(data-id='556')
										span Медицинское оборудование
										span.count
										i.act
									.popup__category-link(data-id='557')
										span Металлопродукция
										span.count
										i.act

								.popup__category-group
									.popup__category-letter Н
									.popup__category-link(data-id='558')
										span Недвижимость
										span.count
										i.act


								.popup__category-group
									.popup__category-letter О
									.popup__category-link(data-id='559')
										span Оргтехника
										span.count
										i.act

									.popup__category-link(data-id='560')
										span Отопительное оборудование
										span.count
										i.act
									.popup__category-link(data-id='561')
										span Офисное и&nbsp;банковское оборудование
										span.count
										i.act

								.popup__category-group
									.popup__category-letter П
									.popup__category-link(data-id='562')
										span Продукты питания
										span.count
										i.act

									.popup__category-link(data-id='563')
										span Промышленная химия
										span.count
										i.act
									.popup__category-link(data-id='564')
										span Промышленное оборудование
										span.count
										i.act

								.popup__category-group
									.popup__category-letter К
									.popup__category-link(data-id='565')
										span Кассовые аппараты
										span.count
										i.act


								.popup__category-group
									.popup__category-letter О
									.popup__category-link(data-id='566')
										span Оборудование для&nbsp;пищевой промышленности
										span.count
										i.act

									.popup__category-link(data-id='567')
										span Оборудование для&nbsp;прачечных и&nbsp;химчисток
										span.count
										i.act

								.popup__category-group
									.popup__category-letter С
									.popup__category-link(data-id='568')
										span Стеллажи, киоски
										span.count
										i.act

								.popup__category-group
									.popup__category-letter Т
									.popup__category-link(data-id='569')
										span Терминалы
										span.count
										i.act

									.popup__category-link(data-id='552')
										span Торговое оборудование
										span.count
										i.act

								.popup__category-group
									.popup__category-letter Х
									.popup__category-link(data-id='552')
										span Холодильное и&nbsp;упаковочное оборудование
										span.count
										i.act


								.popup__category-group
									.popup__category-letter Ж
									.popup__category-link(data-id='552')
										span Жалюзи, карнизы
										span.count
										i.act


					.popup__category-column.popup__category-column_right
						.popup__category-list.js-scrollbar.js-popup-category-collect
							.popup__category-item Все подкатегории
							.popup__category-inner

								.popup__category-group
									.popup__category-letter К
									.popup__category-title Заголовок

									.popup__category-link(data-name='category[]', data-id='123', data-category='551')
										span Кассовые аппараты
										i.act

								.popup__category-group
									.popup__category-letter О
									.popup__category-title Заголовок<br>в две строки

									.popup__category-link(data-name='category[]', data-id='124', data-category='551')
										span Оборудование для пищевой промышленности
										i.act
									.popup__category-link(data-name='category[]', data-id='121', data-category='551')
										span Оборудование для&nbsp;прачечных и&nbsp;химчисток
										i.act

								.popup__category-group
									.popup__category-letter С
									.popup__category-title Заголовок

									.popup__category-link(data-name='category[]', data-id='125', data-category='551')
										span Стеллажи, киоски
										i.act

								.popup__category-group
									.popup__category-letter Т
									.popup__category-title Заголовок

									.popup__category-link(data-name='category[]', data-id='126', data-category='551')
										span Терминалы
										i.act
									.popup__category-link(data-name='category[]', data-id='127', data-category='551')
										span Торговое оборудование
										i.act

								.popup__category-group
									.popup__category-letter Х
									.popup__category-title Заголовок

									.popup__category-link(data-name='category[]', data-id='128', data-category='551')
										span Холодильное и&nbsp;упаковочное оборудование
										i.act

								.popup__category-group
									.popup__category-letter Ж
									.popup__category-title Заголовок

									.popup__category-link(data-name='category[]', data-id='129', data-category='551')
										span Жалюзи, карнизы
										i.act

				.popup__category-result.is-empty
					.popup__category-control
						span ВЫБРАНО #[span.js-popup-category-count]
						a(href='#').c-blue.on-h.js-clear-result ОЧИСТИТЬ
					.popup__category-item Вы можете выбрать несколько разделов
					.popup__category-list.js-scrollbar.js-popup-category-result

						.popup__category-inner
						//-.popup__category-inner
							.popup__category-link
								span Оборудование для пищевой промышленности
								i.act
							.popup__category-link
								span Торговое оборудование
								i.act
							.popup__category-link
								span Операционные столы
								i.act
							.popup__category-link
								span Дефибриляторы
								i.act
							.popup__category-link
								span Терапевтическое оборудование
								i.act

					.popup__category-control
						a(href='#').js-popup-categories-confirm.c-blue ПОДТВЕРДИТЬ
						a(href='#').js-popup-categories-cancel.c-black ОТМЕНА




			.popup__info.is-show
				.popup__info-close.js-close-popup-info
				.popup__info-text.
					Уточните регионы деятельности,
					чтобы повысить эффективность
					размещаемых объявлеий. Будьте
					внимательны при выборе регионов.
					Установив флажок рядом с регионом,
					вы выбираете все входящие в него
					населенные пункты (даже те, которые
					нельзя выбрать отдельно).
				.popup__info-footer
					a.c-black(href='#') ПОДРОБНЕЕ
					a(href='#').js-close-popup-info ОК

.popup.popup_category#popupCategoryRegion
	.popup__overlay
	.popup__inner

		.popup__layout
			.popup__close.js-popup-categories-cancel
			.popup__content
				.popup__category-main
					.popup__category-head
						.popup__title ВЫБЕРИТЕ РЕГИОН
						.popup__category-form
							.form
								.form__field
									.form__input.form__input_search
										i.form__input-ico
										input.js-popup-category-search(type='text', name='registerEmail', data-action='/data/popup-category-search.json')
										span.placeholder Поиск по разделам

					.popup__category-column.popup__category-column_left
						.popup__category-list.js-scrollbar.js-popup-category-list(data-url='/data/popup-category-region.json')
							.popup__category-item(data-text-main='Все разделы', data-text-notfound='поиск не дал результатов') Все разделы
							.popup__category-inner
								.popup__category-group
									.popup__category-letter В
									.popup__category-link.is-active(data-id='551')
										span Все Регионы
										span.count
										i.act

								.popup__category-group
									.popup__category-letter А
									.popup__category-link(data-id='552')
										span Алтайский край
										span.count
										i.act

									.popup__category-link(data-id='553')
										span Амурская область
										span.count
										i.act

									.popup__category-link(data-id='554')
										span Архангельская область
										span.count
										i.act

									.popup__category-link(data-id='555')
										span Астраханская область
										span.count
										i.act

								.popup__category-group
									.popup__category-letter Б
									.popup__category-link(data-id='556')
										span Белгородская область
										span.count
										i.act

									.popup__category-link(data-id='557')
										span Брянская область
										span.count
										i.act

								.popup__category-group
									.popup__category-letter В
									.popup__category-link(data-id='558')
										span Владимирская область
										span.count
										i.act

									.popup__category-link(data-id='559')
										span Волгоградская область
										span.count
										i.act
									.popup__category-link(data-id='560')
										span Вологодская область
										span.count
										i.act
									.popup__category-link(data-id='561')
										span Воронежская область
										span.count
										i.act

								.popup__category-group
									.popup__category-letter Е
									.popup__category-link(data-id='562')
										span Еврейская автономная область
										span.count
										i.act

								.popup__category-group
									.popup__category-letter З
									.popup__category-link(data-id='563')
										span Забайкальский край
										span.count 2
										i.act

								.popup__category-group
									.popup__category-letter И
									.popup__category-link(data-id='564')
										span Ивановская область
										span.count
										i.act

									.popup__category-link(data-id='565')
										span Иркутская область
										span.count
										i.act

								.popup__category-group
									.popup__category-letter К
									.popup__category-link(data-id='566')
										span Кабардино-Балкарская Республика
										span.count
										i.act

									.popup__category-link(data-id='567')
										span Калининградская область
										span.count
										i.act

									.popup__category-link(data-id='568')
										span Калужская область
										span.count
										i.act

									.popup__category-link(data-id='569')
										span Камчатский край
										span.count
										i.act
									.popup__category-link(data-id='552')
										span Карачаево-Черкесская Республика
										span.count
										i.act

									.popup__category-link(data-id='552')
										span Кемеровская область
										span.count
										i.act

									.popup__category-link(data-id='552')
										span Кировская область
										span.count
										i.act

					.popup__category-column.popup__category-column_right
						.popup__category-list.js-scrollbar.js-popup-category-collect
							.popup__category-item Все города
							.popup__category-inner
								.popup__category-group
									.popup__category-letter М
									.popup__category-link(data-name='category[]', data-id='123', data-category='551')
										span Малгобек
										i.act

								.popup__category-group
									.popup__category-letter У
									.popup__category-link(data-name='category[]', data-id='124', data-category='551')
										span Усть-Джегута
										i.act

								.popup__category-group
									.popup__category-letter Ч
									.popup__category-link(data-name='category[]', data-id='121', data-category='551')
										span Черкесск
										i.act

								.popup__category-group
									.popup__category-letter Б
									.popup__category-link(data-name='category[]', data-id='125', data-category='551')
										span Беломорск
										i.act

								.popup__category-group
									.popup__category-letter К
									.popup__category-link(data-name='category[]', data-id='126', data-category='551')
										span Кемь
										i.act

									.popup__category-link(data-name='category[]', data-id='127', data-category='551')
										span Карачаевск
										i.act
									.popup__category-link(data-name='category[]', data-id='128', data-category='551')
										span Кондопога
										i.act
									.popup__category-link(data-id='129', data-category='551')
										span Костомукша
										i.act

				.popup__category-result.is-empty
					.popup__category-control
						span ВЫБРАНО #[span.js-popup-category-count]
						a(href='#').c-blue.on-h.js-clear-result ОЧИСТИТЬ
					.popup__category-item Вы можете выбрать несколько разделов
					.popup__category-list.js-scrollbar.js-popup-category-result

						.popup__category-inner
						//-.popup__category-inner
							.popup__category-link
								span Оборудование для пищевой промышленности
								i.act
							.popup__category-link
								span Торговое оборудование
								i.act
							.popup__category-link
								span Операционные столы
								i.act
							.popup__category-link
								span Дефибриляторы
								i.act
							.popup__category-link
								span Терапевтическое оборудование
								i.act

					.popup__category-control
						a(href='#').js-popup-categories-confirm.c-blue ПОДТВЕРДИТЬ
						a(href='#').js-popup-categories-cancel.c-black ОТМЕНА




			.popup__info.is-show
				.popup__info-close.js-close-popup-info
				.popup__info-text.
					Уточните регионы деятельности,
					чтобы повысить эффективность
					размещаемых объявлеий. Будьте
					внимательны при выборе регионов.
					Установив флажок рядом с регионом,
					вы выбираете все входящие в него
					населенные пункты (даже те, которые
					нельзя выбрать отдельно).
				.popup__info-footer
					a.c-black(href='#') ПОДРОБНЕЕ
					a(href='#').js-close-popup-info ОК
