mixin passTooltip()
	.form__tooltip.tooltip.tooltip_right
		.tooltip__inner.psw-1.is-active
			p Пароль должен быть комбинацией из 6 ~ 15 букв (прописные / строчные), цифр и символов без пробелов.
			p
				br
				a(href='#').js-how-get-pass Как подобрать пароль?

		.tooltip__inner.psw-2
			h2 Уровень надежности
			table
				tr
					td.q-nw.q-1_3

						span.c-red Непригодный
					td Пароль не отвечает требованиям
			p
				br
				a(href='#').js-how-get-pass Как подобрать пароль?

		.tooltip__inner.psw-3

			h2 Уровень надежности
			table
				tr
					td.q-nw.q-1_3
						span.dots
							i.c-red
							i
							i
						span.c-red Слабый
					td Пароль не достаточно безопасный
			p
				br
				a(href='#').js-how-get-pass Как подобрать пароль?


		.tooltip__inner.psw-4
			h2 Уровень надежности
			table
				tr
					td.q-nw.q-1_3
						span.dots
							i.c-yellow
							i.c-yellow
							i
						span.c-yellow Хороший
					td Пароль достаточно безопасный
			p
				br
				a(href='#').js-how-get-pass Как подобрать пароль?

		.tooltip__inner.psw-5
			h2 Уровень надежности
			table
				tr
					td.q-nw.q-1_3
						span.dots
							i.c-green
							i.c-green
							i.c-green
						span.c-green Отличный
					td Пароль очень безопасный
			p
				br
				a(href='#').js-how-get-pass Как подобрать пароль?

		.tooltip__inner.psw-6
			.tooltip__close
			.tooltip__title Как выбрать пароль?
			.tooltip__subtitle Вы можете подобрать надежный пароль #[br]следуя нашим рекомендациям#[br]
			h2 Уровень надежности
			table
				tr
					td.q-nw.q-1_3

						span.c-red Непригодный
					td Пароль не отвечает требованиям
				tr
					td.q-nw.q-1_3
						span.dots
							i.c-red
							i
							i
						span.c-red Слабый
					td Пароль не достаточно безопасный
				tr
					td.q-nw.q-1_3
						span.dots
							i.c-yellow
							i.c-yellow
							i
						span.c-yellow Хороший
					td Пароль достаточно безопасный
				tr
					td.q-nw.q-1_3
						span.dots
							i.c-green
							i.c-green
							i.c-green
						span.c-green Отличный
					td Пароль очень безопасный
			hr
			h2 Наши рекомендации
			ul
				li Пароль должен быть комбинацией из 6 ~ 15 букв (прописные / строчные), цифр и символов без пробелов.
				li
					| Используемые символы #[br]#[br]
					span.c-blue ! ? $ % & ( ) * + , - . / : ;  < > = ? @ # [ \ ] ^ _  { | } ~
				li В пароле не может использоваться пароль.
				li Не используйте комбинацию из 4 и более повторяющихся букв и цифр.
				li Не используйте в качестве пароля ваш номер телефона ли e-mail.

.auth
	.auth__overlay
	.auth__layout
		.auth__close

		.auth__head
			.auth__logo
				.auth__logo-img
				.auth__logo-text
				.auth__logo-slog Территория роста для вашего бизнеса

		.auth__content.auth__content_login.is-active
			.auth__content-inner
				.auth__title Вход на сайт
				.auth__form
					form.form(action='/', method='post', novalidate, autocomplete='off')

						.form__field
							.form__input.form__input_email
								i.form__input-ico
								input(type='email', name='loginEmail', data-require='email')
								span.placeholder Е-mail
							.form__message

						.form__field
							.form__input.form__input_password
								i.form__input-ico
								input(type='password', name='loginPass', data-require='password')
								i.form__input-unpass
								span.placeholder Пароль
							.form__message
							//-+passTooltip()

						.form__field
							.form__input.form__input_submit
								input(type='submit', value='Войти')

						.form__field.clearfix
							.form__input.form__input_checkbox.q-1_2.q-fl
								input#checkboxInput1(type='checkbox', name='loginRemember')
								label(for='checkboxInput1') Запомнить меня
							.form__input.form__input_text.q-1_2.q-fl.q-ar Я забыл #[a(href='#', data-auth='restore') E-mail] или #[a(href='#', data-auth='restore') Пароль]



				.auth__soc
					span.auth__soc-item.auth__soc-item_vk
					span.auth__soc-item.auth__soc-item_fb
					span.auth__soc-item.auth__soc-item_tw
					span.auth__soc-item.auth__soc-item_gp

			.auth__foot Еще нет аккаунта? #[a(href="/register", data-auth='register') Регистрация]

		.auth__content.auth__content_register
			.auth__content-inner
				.auth__title Регистрация

				.auth__form
					form.form(action='/', method='post', novalidate, autocomplete='off')

						.form__field
							.form__input.form__input_email
								i.form__input-ico
								input(type='email', name='registerEmail', data-require='email')
								span.placeholder Е-mail
							.form__message

						.form__field
							.form__input.form__input_password
								i.form__input-ico
								input(type='password', name='registerPass', data-require='password')
								i.form__input-unpass
								span.placeholder Пароль
							.form__message
							//-+passTooltip()

						.form__field.clearfix
							.form__input.form__input_checkbox
								input#checkboxInput2(type='checkbox', name='registerAgree', data-require='checkbox')
								label(for='checkboxInput2') С #[a(href="#", target="_blank") соглашением] об использовании сервиса headerlink.ru ознакомился и согласен. Даю согласие на обработку персональных данных на условиях и в целях, определенных #[a(href="#", target="_blank") Политикой конфиденциальности]
							//-.form__tooltip.tooltip.tooltip_right
								.tooltip__inner
									h2 Политика конфидециальности
									p
										br
										a(href='#').c-red Ознакомьтесь с соглашением

						.form__field.clearfix
							.form__input.form__input_checkbox
								input#checkboxInput3(type='checkbox', name='registerSubscribe')
								label(for='checkboxInput3') Получать от Headerlink новости, аналитику по товарам и услугам, сообщения об акциях. #[a(href="#", target="_blank") Подробнее]

						.form__field
							.form__input.form__input_submit
								input(type='submit', value='Зарегистрироваться')


				.auth__soc
					.auth__title Регистрация через соц.сеть

					.auth__soc-list
						span.auth__soc-item.auth__soc-item_vk
						span.auth__soc-item.auth__soc-item_fb
						span.auth__soc-item.auth__soc-item_tw
						span.auth__soc-item.auth__soc-item_gp

			.auth__foot Уже есть аккаунт? #[a(href="/login", data-auth='login') Войти]

		.auth__content.auth__content_restore
			.auth__content-inner
				.auth__title Забыли пароль?
				.auth__text Мы отправим Вам инструкции по восстановлению

				.auth__form
					form.form(action='/', method='post', novalidate, autocomplete='off')

						.form__field.f-message
							.form__input.form__input_email
								i.form__input-ico
								input(type='email', name='restoreEmail', data-require='email')
								span.placeholder Е-mail
							.form__message

						.form__field
							.form__input.form__input_submit
								input(type='submit', value='Сбросить пароль')


				.auth__text Назад на страницу #[a(href="/login", data-auth='login') Входа]


		.auth__content.auth__content_sent
			.auth__content-inner
				.auth__ico: img(src="/img/glob/restore-send.svg", alt='')
				.auth__title Письмо отправлено
				.auth__text Мы отправили Вам на почту письмо #[br]с инструкциями по восстановению пароля
			.auth__foot Назад на страницу #[a(href="/login", data-auth='login') Входа]

