include mixin
block vars
doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')/
		meta(name='viewport', content='width=device-width')/
		meta(http-equiv='X-UA-Compatible', content='IE=edge')/
		title #{pageTitle}

		//-include favicon
		link(rel='stylesheet', href='/css/dashboard.style.css')/
		block head

	body
		.dashboard
			.dashboard__aside
				include dashboard-aside

			.dashboard__content
				block content

		script(src='/js/vendor.js')
		script(src='/js/dashboard.script.js')

		block append