aside.aside
	.aside__inner
		a(href='/dashboard_map.html').aside__header: include ../../img/dashboard/logo.svg
		.aside__nav
			.aside__group
				.aside__title МОЙ АККАУНТ
				.aside__link.aside__link_group(title='adrestut@pochta.ru')
					.aside__link-ico.aside__link-ico_account
					.aside__link-name adrestut@pochta.ru
				.aside__menu
					a(href='#').aside__menu-item Мои данные
					a(href='#').aside__menu-item Настройки
					a(href='#', data-aside-more='#asideAccounts').aside__menu-item Мои аккаунты

			.aside__group
				.aside__title МОЯ КОМПАНИЯ
				.aside__link.aside__link_group(title='ТВА фундамент длинное название в 3 строки')
					.aside__link-logo: img(src='/img/temp/ava_01.jpg')
					.aside__link-name ТВА фундамент длинное название в 3 строки
				.aside__menu
					a(href='#').aside__menu-item Моя компания
					a(href='#').aside__menu-item Объявления
					a(href='#').aside__menu-item Заголовки
					a(href='#').aside__menu-item Диалоги
					a(href='#').aside__menu-item Филиалы
					a(href='#').aside__menu-item Новости
					a(href='#').aside__menu-item Сотрудники
					a(href='#').aside__menu-item Статьи
					a(href='#').aside__menu-item Оповещения
					a(href='#').aside__menu-item Счета
					a(href='#').aside__menu-item Баланс

			.aside__group
				.aside__title МОЯ КОМПАНИЯ
				.btn.btn_green СОЗДАТЬ

			.aside__group
				.btn.btn_blue БИРЖА ЗАГОЛОВКОВ

			.aside__group
				.aside__title ПОДДЕРЖКА
				a(href='#').aside__link
					.aside__link-ico.aside__link-ico_support
					.aside__link-name Техподдержка
				a(href='#').aside__link
					.aside__link-ico.aside__link-ico_faq
					.aside__link-name FAQ

		.aside__footer
			a(href='#').aside__link
				.aside__link-ico.aside__link-ico_back
				.aside__link-name Вернуться на сайт



	.aside__overlay
	.aside__more#asideAccounts
		.aside__more-head
			.aside__more-head-left: .title Мои аккаунты
			.aside__more-head-right: .btn.btn_green ДОБАВИТЬ АККАУНТ

		.aside__more-content
			.aside__more-table
				.aside__more-row
					.aside__more-col ejeadres@gmail.com
					.aside__more-col: a(href='#').login ВОЙТИ
					.aside__more-col: i.ico.ico_close
				.aside__more-row
					.aside__more-col adrestut@pochta@gmail.com
					.aside__more-col: a(href='#').logout ВЫЙТИ
					.aside__more-col: i.ico.ico_close
				.aside__more-row
					.aside__more-col ejeadres@gmail.com
					.aside__more-col: a(href='#').login ВОЙТИ
					.aside__more-col: i.ico.ico_close
				.aside__more-row
					.aside__more-col ejeadres@gmail.com
					.aside__more-col: i.ico.ico_danger
					.aside__more-col: i.ico.ico_close