.auth{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: 'Roboto', sans-serif;
	color: $colorGreyDark;
	display: none;
	overflow: auto;

	.is-auth &{
		display: block;
	}

	&__close{
		@extend %closeBtn;
	}


	&__overlay{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,.8);
		display: none;

		.is-auth &{
			display: block;
		}
	}

	&__head{
		height: 80px;
		position: relative;
	}

	&__logo{
		overflow: hidden;
		width: 340px;
		margin: 0 auto;
		@include user-select();

		&-img{
			width: 60px;
			height: 60px;
			background: url("/img/glob/logo_img.svg") no-repeat 50% 50%;
			background-size: contain;
			float: left;
		}

		&-text{
			width: 218px;
			height: 24px;
			background: url("/img/glob/logo_text.svg") no-repeat 50% 50%;
			background-size: contain;
			margin: 11px 0 9px 79px;
		}

		&-slog{
			margin: 0 0 0 79px;
			font-size: 12px;
			color: $colorGreyDark;
		}
	}


	&__title{
		font-size: 20px;
		font-weight: 500;
		text-align: center;
		margin-bottom: 15px;
		color: $colorBlack;
	}

	&__text{
		font-size: 14px;
		text-align: center;
		margin-bottom: 15px;
	}

	&__layout{
		position: relative;
		background: #fff;
		width: 500px;
		@include box-sizing();
		padding: 40px 40px 35px;
		height: 100%;
		margin-left: -100%;
		//@include transition(margin-left 0.3s ease);

		//&:before{
		//	content: '';
		//	position: absolute;
		//	top: 0;
		//	left: 0;
		//	width: 500px;
		//	background: #fff;
		//	display: block;
		//	bottom: 0;
		//}

		.is-auth &{
			margin-left: 0;
		}
	}

	&__ico{
		text-align: center;
		margin-bottom: 35px;
	}

	&__form{
		margin: 30px 0;

		.form__field{
			margin-bottom: 20px;
		}

		.form__message{
			text-align: center;
		}

		.form__input_password{

			& ~ .tooltip{
				margin-left: 60px;
				top: 24px;

				&.is-hold{
					display: block;
				}

				.tooltip__inner{

					&.psw-6{
						margin-top: -300px;
					}
				}
			}
		}

		.f-error{
			.form__input_checkbox{

				& ~ .tooltip{
					margin-left: 60px;
					top: 24px;

					display: block;
				}
			}
		}


	}


	&__content{
		display: none;
		position: relative;
		font-size: 0;
		height: calc(100% - 75px);

		&:before{
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

		&-inner{
			font-size: 14px;
			width: 100%;
			vertical-align: middle;
			display: inline-block;
		}

		&.is-active{
			display: block;
		}
	}

	&__soc{
		margin-top: 60px;

		.auth__title{
			margin-bottom: 25px;
		}

		&-list{
			font-size: 0;
		}

		&-item{
			display: inline-block;
			height: 46px;
			width: 90px;
			@extend %borderRadius;
			background: no-repeat 50% 50%;
			background-size: contain;
			cursor: pointer;
			margin-left: 20px;
			margin-bottom: 14px;

			&:first-child{
				margin-left: 0;
			}

			&_vk{
				background-color: #507299;
				background-image: url("/img/glob/oauth_vk.svg");

				&:hover{
					background-color: #49688c;
				}
			}
			&_fb{
				background-color: #3b5998;
				background-image: url("/img/glob/oauth_fb.svg");

				&:hover{
					background-color: #37528c;
				}
			}
			&_tw{
				background-color: #1da1f2;
				background-image: url("/img/glob/oauth_tw.svg");

				&:hover{
					background-color: #1c98e6;
				}
			}
			&_gp{
				background-color: #ea4335;
				background-image: url("/img/glob/oauth_gp.svg");

				&:hover{
					background-color: #de4133;
				}
			}
		}
	}



	&__foot{
		//position: absolute;
		//bottom: 35px;
		left: 0;
		width: 100%;
		font-size: 14px;
		text-align: center;
	}

}