html{
	background: $colorBlue;
	font-size: 14px;
}

.cup{
	height: 100%;
	min-height: 450px;

	&:before,
	&:after{
		content: '';
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: no-repeat 50% 50%;
		background-size: cover;
		opacity: 1;
		@include transform(scale(1));

		@include transition(all 2s ease);
	}


	&:before{
		background-image: url("/img/cup/bg_blur.png");
	}

	&:after{
		background-image: url("/img/cup/bg.png");
	}

	&_blur{
		&:before,
		&:after{
			opacity: 0;
			@include transform(scale(1));
		}

		&:before{
			@include transform(scale(1.5));
		}

		&:after{
			@include transform(scale(2.5));
		}
	}

	&__inner{
		display: block;
		position: relative;
		z-index: 1;
		font-size: 0;
		text-align: center;
		height: calc(100% - 60px);

		&:before{
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
	}

	&__center{
		font-size: 14px;
		display: inline-block;
		vertical-align: middle;
		@include user-select();

		opacity: 1;
		filter: blur(0px);
		@include transform(scale(1));
		@include transition(all 1s ease);

		.cup_blur &{
			opacity: 0;
			filter: blur(10px);
			@include transform(scale(1.2));
		}
	}


	&__logo{
		margin-bottom: 50px;

		img{
			max-width: 90%;
		}
	}

	&__footer{
		display: block;
		position: relative;
		z-index: 1;
		text-align: center;
		opacity: 1;
		filter: blur(0px);
		@include transition(all 1s ease);


		a{
			color: #fff;
		}

		.cup_blur &{
			opacity: 0;
			filter: blur(10px);
		}
	}
}



.phone-reg-template-wrap{
	.phone-reg-template-item{


		.form__field-copy-remove{
			display: inline-block;
		}

		.form__field-copy-add{
			display: none;
		}

		&:nth-last-child(2){
			.form__field-copy-add{
				display: inline-block;
			}
		}
	}
	&.is-multi{
		.form__field-copy-remove{
			display: inline-block;
		}
	}
}