$asideWidth: 196px;
$asideBGColor: #1f364d;
$asideBGColorDark: #142a3f;
$asideTextColor: #708ba5;
$asideLight: #e5f3ff;

$sectionPadding: 42px;


$bps: 1500px;
$bpm: 1700px;
$bpl: 1900px;

@mixin afterArrow($direction: 'right', $width:8px, $height: 2px){

	$rotate: 0;
	$mt: 0;
	$mr: 0;

	@if ($direction == 'right'){
		$rotate: 0deg;
		$mt: -($height / 2);
		$mr: -(($width / 2) - ($height / 2))
	} @else if($direction == 'down' ) {
		$rotate: 90deg;
		$mt: (((sin(45deg) * $width) / 2) - ($height));
		$mr: -($height / 2);
	} @else if($direction == 'left' ) {
		$rotate: 180deg;
		$mt: -($height / 2);
		$mr: (($width / 2) - ($height / 2))
	} @else if($direction == 'up' ) {
		$rotate: -90deg;
		$mt: -((sin(45deg) * $width) / 2);
		$mr: -($height / 2);
	}

	position: relative;

	&:before,
	&:after{
		content: '';
		width: $width;
		height: $height;
		background: $colorTextDisable;
		display: block;
		position: absolute;
		margin-top: $mt;
		margin-right: $mr;
		top: 50%;
		right: 0;
		border-radius: $height;
		@include transform-origin(($width  - ($height / 2)) ($height / 2));
		@include transition(all 0.3s ease);
	}
	&:before{
		@include transform(rotate($rotate - 45deg));
	}
	&:after{
		@include transform(rotate($rotate + 45deg));
	}

}

body{
	background: #f0f2f6;
}

.dashboard{

	min-height: 100vh;

	&:after{
		content: '';
		display: table;
		clear: both;
	}



	.dropmenu{
		position: absolute;
		display: none;
		@include border-radius(7px);
		@include box-shadow(0 0 15px rgba(0,0,0,0.35));
		background: #fff;
		width: 200px;
		padding: 20px;
		top: 100%;
		right: -35px;
		z-index: 1;
		margin-top: 10px;

		&:before{
			content: '';
			position: absolute;
			border: 5px solid transparent;
			border-bottom-color: #fff;
			top: -10px;
			right: 40px;
		}


		&-close{
			@include close();
			position: absolute;
			top: 12px;
			right: 12px;
		}

		&-title{
			color: $colorTextDisable;
			font-size: 11px;
		}

		ul{
			li{
				color: $colorBlack;
				margin: 15px 0 0;

				a{
					color: inherit;
				}
			}
		}
	}

	.js-dropmenu{
		position: relative;
		&.is-open{
			.dropmenu{
				display: block;
			}
		}
	}







	&__aside{
		width: $asideWidth;
		float: left;
		position: relative;
		z-index: 1;
	}

	&__content{
		margin-left: $asideWidth;
		overflow: hidden;
	}



	.aside{
		position: relative;
		width: $asideWidth;

		&__inner{
			min-height: 100vh;
			padding-bottom: 70px;
			position: relative;
			@include box-sizing();
			z-index: 1;
			color: #fff;
			background: $asideBGColor;

			.btn{
				width: 100%;
				padding-right: 5px;
				padding-left: 5px;
			}

		}

		&__header{
			height: 70px;
			display: block;
			text-align: center;
			@include box-sizing();
			border-bottom: 1px solid rgba($asideTextColor, 0.5);

			svg{
				display: inline-block;
				vertical-align: middle;

				path{
					fill: $asideLight;
				}
			}

			&:hover{
				svg{
					path{
						fill: #fff;
					}
				}
			}

			&:after{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}
		}


		&__nav{

		}

		&__title{
			color: $asideTextColor;
			font-size: 11px;
			@include user-select();
			margin-bottom: 12px;
			cursor: default;
		}

		&__group{
			margin: 14px 0;
			padding: 18px 14px 0px 10px;
			border-left: solid 4px transparent;
			@include transition(all 0.3s ease);

			&.is-active{
				background: $asideBGColorDark;
				border-left-color: $colorBlue;
			}

			&.is-open{
				.aside__menu{
					display: block;
				}
			}
		}

		&__link{
			color: rgba($asideLight, 0.8);
			position: relative;
			display: block;
			padding: 0 20px 14px 28px;
			cursor: pointer;
			@include user-select();
			white-space: nowrap;
			
			&-ico{
				position: absolute;
				top: -4px;
				left: -3px;
				width: 24px;
				height: 24px;
				background: url("../img/dashboard/ico-pack.svg") no-repeat 0 0;

				&_account{
					background-position: 0 0;
				}

				&_support{
					background-position: 0 -24px;
				}

				&_faq{
					background-position: 0 -48px;
				}

				&_back{
					background-position: 0 -72px;
				}
			}

			&-name{
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}


			&-logo{
				width: 40px;
				height: 40px;
				overflow: hidden;
				@include border-radius(10px);
				font-size: 0;
				display: inline-block;
				margin-left: -28px;
				vertical-align: middle;
				margin-right: 12px;

				&:after{
					content: '';
					display: inline-block;
					vertical-align: middle;
					height: 100%;
				}

				img{
					display: inline-block;
					max-width: 100%;
					max-height: 100%;
					vertical-align: middle;
				}

				& ~ .aside__link-name{
					display: inline-block;
					vertical-align: middle;
					white-space: normal;
					max-height: 45px;
					font-size: 12px;
					width: 85px;
					//word-break: break-all;
					-webkit-hyphens: auto;
					-ms-hyphens: auto;
					hyphens: auto;
				}
			}

			&:hover{
				color: #fff;

				&:after{
					background-position: -10px 0;
				}

				.aside__link-ico{
					&_account{
						background-position: -24px 0;
					}

					&_support{
						background-position: -24px -24px;
					}

					&_faq{
						background-position: -24px -48px;
					}

					&_back{
						background-position: -24px -72px;
					}
				}
			}



			&_group{

				&:after{
					content: '';
					width: 10px;
					height: 10px;
					background: url("../img/dashboard/arrow.svg") no-repeat 0 0;
					position: absolute;
					display: block;
					top: 50%;
					margin-top: -12px;
					right: 20px;
					margin-right: -16px;
					@include transition(transform 0.3s ease);
				}


				&.is-active{
					&:after{
						@include transform(rotate(180deg));
					}
				}
			}

		}

		&__menu{
			padding: 12px 0;
			display: none;

			&-item{
				color: $asideTextColor;
				display: block;
				position: relative;
				padding: 0 20px 12px 28px;
				cursor: pointer;
				@include transition(color 0.3s ease);
				@include user-select();

				&:before{
					content: '';
					position: absolute;
					top: 6px;
					left: 5px;
					width: 4px;
					height: 4px;
					@include border-radius(50%);
					background: $asideTextColor;
					border: 0 solid #24629f;
					@include transition(all 0.3s ease);
				}

				&[data-aside-more]{

					&:after{
						content: '';
						width: 10px;
						height: 10px;
						background: url("../img/dashboard/arrow.svg") no-repeat 0 0;
						position: absolute;
						top: 50%;
						margin-top: -10px;
						right: 20px;
						margin-right: -16px;
						@include transform(rotate(-90deg));
						@include transition(transform 0.3s ease);
						display: none;
					}

					&:hover{
						&:after{
							display: block;
						}
					}

					&.is-active{
						&:after{
							display: block;
							@include transform(rotate(90deg));
						}
					}
				}

				&:hover{
					color: #fff;

					&:before{
						background: $colorBlue;
					}
				}

				&.is-active{
					color: #fff;

					&:before{
						top: 4px;
						left: 2px;
						background: $colorBlue;
						border-width: 3px;
					}
				}
			}
		}

		&__footer{
			height: 70px;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			background: $asideBGColorDark;
			padding: 26px 14px 0;
			@include box-sizing();

			a{
				padding-right: 0;
			}
		}



		&__more{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			background: #fff;
			width: 504px;
			@include transition(right 0.3s ease);

			&.is-active{
				right: -504px;
			}


			&-head{
				height: 70px;
				display: block;
				@include box-sizing();
				border-bottom: 1px solid #d7d8db;
				padding: 0 28px;

				&-left{
					float: left;
					height: 100%;

					&:after{
						content: '';
						display: inline-block;
						vertical-align: middle;
						height: 100%;
					}

					.title{
						display: inline-block;
						vertical-align: middle;
						font-weight: 500;
						color: $colorGreyDark;
					}
				}

				&-right{
					float: right;
					height: 100%;
					text-align: right;

					&:after{
						content: '';
						display: inline-block;
						vertical-align: middle;
						height: 100%;
					}

					.btn{
						vertical-align: middle;
					}
				}
			}


			&-content{
				padding: 14px 0;
				max-height: calc(100% - 70px);
				overflow: auto;
				@include box-sizing();
			}

			&-table{
				display: table;
				width: 100%;
				color: $colorGreyDark;
			}

			&-row{
				display: table-row;

				&:hover{
					.aside__more-col{
						background: rgba(#d7d8db, 0.5);
						color: $colorBlack;
					}
				}
			}

			&-col{
				display: table-cell;
				padding: 14px 28px;
				vertical-align: middle;

				.ico_close{
					cursor: pointer;
				}

				.logout{
					color: #486179;
				}
			}

		}


		&__overlay{
			display: none;
			background: rgba(#142a3f, .91);
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}










	&__head{
		height: 70px;
		display: block;
		@include box-sizing();
		border-bottom: 1px solid #eaecf0;
		padding: 0 $sectionPadding;
		background: #fff;

		&-right{
			float: right;
			height: 100%;

			&:before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			& > *{
				display: inline-block;
				vertical-align: middle;
			}
		}

		&-title{
			height: 100%;
			float: left;

			&:before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			& > *{
				display: inline-block;
				vertical-align: middle;
				font-size: 18px;
				font-weight: 500;
			}
		}
	}



















	&__page{
		padding: 0 $sectionPadding;

		section{
			background: #fff;
			@include border-radius(14px);
			@include box-shadow(0 0 2px rgba(204,204,204,.5));
			padding: $sectionPadding;
			margin: 28px 0;

			.form{
				margin-bottom: -($sectionPadding - 14px);


				.tooltip{
					&_right{
						margin-top: -25px;
					}
				}
			}
		}


		.section{

			&__head{
				margin-bottom: 28px;
			}

			&__title{
				font-size: 18px;
				font-weight: 500;
				margin-bottom: 10px;
			}


			&__subtitle{
				font-size: 14px;
				margin-bottom: 14px;
				color: $colorText;
			}



			&__tab{
				border-bottom: 1px solid #e6e6e6;
				margin: 0 (-$sectionPadding) ;
				padding: 0 $sectionPadding;

				&-link{
					display: inline-block;
					margin-right: 40px;
					border-bottom: 2px solid transparent;
					padding-bottom: 23px;
					margin-bottom: -1px;
					font-weight: 500;
					cursor: pointer;
					color: $colorGreyDark;
					@include user-select();

					&.is-active{
						border-bottom-color: $colorBlue;

						color: $colorBlack;
					}
				}
			}


			&__search{
				border-bottom: 1px solid #e6e6e6;
				margin: 0 (-$sectionPadding) ;
				padding: 4px $sectionPadding 4px ($sectionPadding - 10px);

				.form{
					max-width: 100%;

					&__input-ico{
						background: transparent;
					}
				}

				input{
					border: 0;
				}
			}





			&__filter{
				border-bottom: 1px solid #e6e6e6;
				margin: 0 (-$sectionPadding) ;
				padding: 28px $sectionPadding;
				color: $colorGreyDark;

				.form{
					&__field{
						display: inline-block;
						width: auto;
						vertical-align: middle;
						margin-right: 12px;
					}

				}


				&-select{

					&-event{
						width: 266px;
					}

					&-count{
						width: 128px;
					}
				}
			}


			&__table{
				border-bottom: 1px solid #e6e6e6;
				margin: 0 (-$sectionPadding);
				color: $colorGreyDark;

				&-wrap{
					width: 100%;
					margin-bottom: 30px;
				}

				&-head{

					.section__table-col{
						padding-top: 25px;
						padding-bottom: 25px;
						font-weight: 400;
						text-align: left;
					}
				}

				&-row{

					&.is-active,
					&:hover{
						.section__table-col{
							background: rgba(#ddeff9, .5);
						}
					}

					&:hover{
						.t-hover{
							opacity: 1;
						}
					}

				}

				&-col{
					vertical-align: middle;
					padding: 8px 5px;
					border-bottom: 3px solid #fff;

					&:first-child{
						padding-left: $sectionPadding;
					}

					&:last-child{
						padding-right: $sectionPadding;
					}

					&_first{
						width: 70px;
						white-space: nowrap;

						.label{
							padding-left: 30px !important;
						}
					}
					&_control{
						width: 25px;

						.btn{
							white-space: nowrap;
						}
					}
					&_edit{

					}
					&_user{
						//width: 300px;
						//padding-right: 20px;

						@include breakPoint($bps){
							//width: 420px;
						}

					}
					&_contact{}
				}

				.t-checkbox{
					display: inline-block;
					vertical-align: middle;
					margin-right: 10px;
				}

				.t-title{
					font-size: 11px;
					color: $colorTextDisable;
				}


				.t-refresh{
					display: inline-block;
					vertical-align: middle;
					background: $colorLight url("/img/dashboard/refresh.svg") no-repeat 50% 50%;
					width: 56px;
					height: 28px;
					@include border-radius(7px);
					cursor: pointer;
				}

				.t-favorite{
					display: inline-block;
					vertical-align: middle;
					width: 24px;
					height: 24px;
					background: url("../img/dashboard/ico-pack.svg") no-repeat 0 -144px;
					cursor: pointer;

					&:hover{
						background-position: -24px -144px;
					}

					&.is-active{
						background-position: -48px -144px;
					}
				}


				.t-notify,
				.t-user{

					&__avatar{
						display: table-cell;
						width: 38px;
						height: 38px;
						padding-right: 30px;
					}

					&__icon,
					&__image{
						width: 40px;
						height: 40px;
						@include box-sizing();
						vertical-align: middle;
						position: relative;
						@include border-radius(50%);
						font-size: 0;

						&:before{
							content: '';
							display: inline-block;
							vertical-align: middle;
							height: 100%;
						}

						img{
							display: inline-block;
							max-width: 100%;
							max-height: 100%;
							@include border-radius(50%);
						}
					}

					&__image{
						border: 1px solid $colorGrey;
					}

					&__name{
						display: table-cell;
						vertical-align: middle;
						color: $colorBlack;
					}

					&.is-online{
						.t-user__image{
							&:after{
								content: '';
								display: block;
								width: 8px;
								height: 8px;
								background: $colorGreen;
								@include border-radius(50%);
								border: 2px solid #fff;
								position: absolute;
								right: -2px;
								bottom: -2px;
							}
						}
					}
				}


				.t-rank{
					color: $colorGreyDark;
				}

				.t-edit{
					display: inline-block;
					width: 24px;
					height: 24px;
					background: url("../img/dashboard/ico-pack.svg") no-repeat;
					cursor: pointer;
					background-position:  0 -96px;

					&:hover{
						background-position:  -24px -96px;
					}
				}

				.t-settings{
					display: inline-block;
					width: 24px;
					height: 24px;
					background: url("../img/dashboard/ico-pack.svg") no-repeat;
					cursor: pointer;

					background-position:  0 -120px;

					&:hover{
						background-position:  -24px -120px;
					}
				}

				.t-more{
					display: inline-block;
					width: 24px;
					height: 24px;
					background: url("../img/dashboard/ico-pack.svg") no-repeat;
					cursor: pointer;

					background-position:  0 -168px;

					&:hover{
						background-position:  -24px -168px;
					}
				}

				.t-hover{
					opacity: 0;
				}

				.t-link{
					display: inline-block;
					position: relative;

					&__text{
						color: $colorBlue;
						cursor: pointer;
						position: relative;
						padding-right: 15px;
						margin-right: 10px;
						@include afterArrow('down');
						@include user-select();

						&:before,
						&:after{
							background-color: $colorBlue;
						}
					}

					&.is-open{
						.t-more__dropdown{
						}
						.t-more__title{
							@include afterArrow('up');

							&:before,
							&:after{
								background-color: $colorBlue;
							}
						}
					}

				}



				&_head{
					margin-bottom: 15px;

					.section__table-wrap{
						margin-top: -36px;
						width: auto;
						margin-bottom: 0;
					}
				}
			}



			&__pager{
				padding-top: 40px;
				color: $colorGreyDark;
				margin: -10px;

				&-item{
					display: inline-block;
					vertical-align: middle;
					position: relative;
					padding: 10px;
					color: $colorGreyDark;

					&_text{

					}

					&_link{

						&:hover{
							color: $colorBlue;
						}
					}

					&_dot{

					}

					&_prev{
						margin-left: 10px;
						margin-right: 3px;

						@include afterArrow('left');

						&:before,
						&:after{
							right: 100%;
						}

						&:hover{
							color: $colorBlue;

							&:before,
							&:after{
								background-color: $colorBlue;
							}
						}
					}

					&_next{
						margin-right: 10px;
						margin-left: 3px;

						@include afterArrow('right');


						&:before,
						&:after{

						}

						&:hover{
							color: $colorBlue;



							&:before,
							&:after{
								background-color: $colorBlue;
							}
						}
					}

					&.is-active{
						color: $colorBlue;

					}

					&.is-disabled{
						color: $colorGreyDark !important;
						cursor: default!important;

						&:before,
						&:after{
							opacity: 0;
						}
					}
				}
			}

		}


		.form{
			max-width: 826px;
		}

	}





	&__footer{
		padding: 0 $sectionPadding;
		margin: 32px 0 24px;

		&-logo{
			display: inline-block;

			svg{

				path{
					fill: #757575;
				}
			}
		}

		&-text{
			color: $colorGreyDark;
			padding: 10px 28px;
			display: inline-block;

			border-right: 1px solid #ccc;


			&:last-child{
				border-right: 0;
			}
		}
	}


	.gallery{
		margin: 24px 0;

		&__list{
			font-size: 0;
			white-space: nowrap;
			margin: 0 (-$sectionPadding);

			&:after{
				content: '';
				display: table;
				clear: both;
			}

			&-inner{
				padding: 0 35px;
				@include box-sizing();
			}

			.mCSB_container{
				overflow: visible;
			}
			.mCSB_scrollTools.mCSB_scrollTools_horizontal{

				right: $sectionPadding;
				left: $sectionPadding;
			}
			.mCSB_horizontal.mCSB_inside > .mCSB_container{
				margin-bottom: 25px;
			}
		}

		&__item{
			font-size: 14px;
			white-space: normal;
			display: inline-block;
			vertical-align: middle;
			width: 280px;
			@include box-sizing();
			padding: 7px;

			&-inner{
				background: #fff;
				@include border-radius(14px);
				@include box-shadow(0 0 2px rgba(204,204,204,.5));
				padding: 20px;
				text-align: center;
				position: relative;
			}

			&-favorite{
				position: absolute;
				width: 24px;
				height: 24px;
				background: url("../img/dashboard/ico-pack.svg") no-repeat 0 -144px;
				cursor: pointer;
				top: 15px;
				left: 15px;

				&:hover{
					background-position: -24px -144px;
				}

				&.is-active{
					background-position: -48px -144px;
				}
			}

			&-status{
				font-size: 11px;
				color: $colorTextDisable;
				position: absolute;
				top: 15px;
				right: 15px;
			}

			&-avatar{
				width: 120px;
				height: 120px;
				overflow: hidden;
				@include border-radius(50%);
				margin: 20px auto 18px;

				img{
					max-height: 100%;
					max-width: 100%;
					display: inline-block;
				}
			}

			&-name{
				height: 32px;
				margin-bottom: 12px;

				&:after{
					content: '';
					display: inline-block;
					vertical-align: middle;
					height: 100%;
				}

				span{
					display: inline-block;
					vertical-align: middle;
					font-size: 16px;
					color: $colorBlack;
					font-weight: 500;
				}
			}
			&-post{
				font-size: 14px;
				color: $colorGreyDark;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			&-control{
				margin-top: 25px;

				.control{
					display: inline-block;
					width: 24px;
					height: 24px;
					background: url("../img/dashboard/ico-pack.svg") no-repeat;
					margin: 0 12px;
					cursor: pointer;

					&_edit{
						background-position:  0 -96px;

						&:hover{
							background-position:  -24px -96px;
						}
					}
					&_settings{
						background-position:  0 -120px;

						&:hover{
							background-position:  -24px -120px;
						}
					}
					&_more{
						background-position:  0 -168px;

						&:hover{
							background-position:  -24px -168px;
						}
					}
				}
			}
		}
	}



	.bp{

		&_s{

			@include breakPoint($bps){
				display: none!important;
			}
		}

		&_ns{

			@include breakPoint(0, $bps - 1px){
				display: none!important;
			}
		}
	}

}



[data-tab-target]{
	display: none;
	&.is-active{
		display: block;
	}
}