@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic,cyrillic-ext,latin-ext');

//font-family: 'Roboto', sans-serif;
//font-family: 'Roboto script=all rev=3', sans-serif;


/*@font-face {
	font-family: 'roboto';
	src: local('roboto Light'), local('roboto-Light'), url('/fonts/roboto/Robotolight.woff2') format('woff2'), url('/fonts/roboto/Robotolight.woff') format('woff'), url('/fonts/roboto/Robotolight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: local('roboto'), local('roboto-Regular'), url('/fonts/roboto/Roboto.woff2') format('woff2'), url('/fonts/roboto/Roboto.woff') format('woff'), url('/fonts/roboto/Roboto.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: local('roboto Medium'), local('roboto-Medium'), url('/fonts/roboto/Robotomedium.woff2') format('woff2'), url('/fonts/roboto/Robotomedium.woff') format('woff'), url('/fonts/roboto/Robotomedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: local('roboto Bold'), local('roboto-Bold'), url('/fonts/roboto/Robotobold.woff2') format('woff2'), url('/fonts/roboto/Robotobold.woff') format('woff'), url('/fonts/roboto/Robotobold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}*/

