@import "../modules/select/core";

$fieldHeight: 42px;

.placeholder{
	position: absolute;
	color: $colorGreyDark;
	top: 0;
	right: 100%;
	left: 0;
	text-align: right;
	line-height: $fieldHeight;
	cursor: default;
	pointer-events: none;
	padding: 0 18px 0 46px;
	white-space: nowrap;
	@include box-sizing();
	@include transition(all 0.3s ease);

	.f-error &{
		color: $colorRed;
	}


	.f-filled &{
		right: 0;
		font-size: 12px;
	}

	.form__input_password &{
		padding-right: 46px;
	}

	.auth &{
		padding-right: 46px;
	}
}

.form{
	font-size: 14px;


	.form__field{

	}

	&__field{
		position: relative;
		margin-bottom: 28px;

		&.f-error{

			input{
				&[type="email"],
				&[type="password"],
				&[type="tel"],
				&[type="text"]{
					border-color: $colorRed!important;
				}
			}
		}


		.tooltip{
			margin-left: 15px;
			z-index: 1;
		}

		&:last-child{
			//margin-bottom: 10px;
		}

		&-copy{
			position: absolute;
			top: 50%;
			margin-top: -10px;
			left: calc(100% + 17px);
			font-size: 0;
			white-space: nowrap;
			display: none;

			._allow-copy &{
				display: block;
			}

			&-add{
				width: 20px;
				height: 20px;
				display: inline-block;
				margin-right: 10px;
				border-radius: 50%;
				cursor: pointer;
				position: relative;
				background: #ccc;

				&:before{
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: url("/img/cup/plus.svg") no-repeat;
					background-size: cover;
				}

				&:hover{
					background-color: $colorGreen;
				}
			}

			&-remove{
				width: 20px;
				height: 20px;
				display: inline-block;
				border-radius: 50%;
				cursor: pointer;
				position: relative;
				background: #ccc;

				&:before{
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: url("/img/cup/plus.svg") no-repeat;
					background-size: cover;
					@include transform(rotate(45deg));
				}

				&:hover{
					background-color: $colorRed;
				}
			}
		}
	}

	&__message{
		display: none;
		top: 8px;
		position: relative;

		.f-message &{
			display: block;
		}

		.f-error &{
			color: $colorRed;
		}
	}


	&__label{

		padding-bottom: 10px;
		color: $colorText;

		&-hint{
			opacity: 0.6;
		}

		&-note{
			float: right;
			font-style: italic;
			font-size: 12px;
			opacity: 0.6;
		}
	}


	&__input{
		position: relative;

		input{

			&[type="email"],
			&[type="password"],
			&[type="tel"],
			&[type="text"]{
				@include box-sizing();
				width: 100%;
				display: block;
				line-height: 40px;
				height: $fieldHeight;
				border: 1px solid $colorGrey;
				@extend %borderRadius;
				background: #fff;
				padding: 0 18px 0 18px;
				@include transition(border 0.3s ease);

				&:focus{
					border-color: $colorBlue;

					& ~ .placeholder{
						right: 0;
						font-size: 12px;
					}
				}

				.f-error &{
					border-color: $colorRed;
				}

				&:hover{
					border-color: $colorBlue;
				}


				&:disabled{
					background: $colorLight!important;
					border-color: $colorLight!important;
					color: $colorTextDisable!important;
				}
			}

			&[type="checkbox"]{
				opacity: 0;
				position: absolute;

				& ~ .label,
				& ~ label{
					display: block;
					padding: 0 0 0 45px;
					cursor: pointer;
					min-width: 1px;
					min-height: 16px;

					&:before{
						content: '';
						@include box-sizing();
						width: 30px;
						display: block;
						height: 30px;
						position: absolute;
						top: -2px;
						left: 0;
						border: 1px solid $colorGrey;
						background-color: #fff;
						@extend %borderRadius;

						.f-error &{
							border-color: $colorRed;
						}
					}
				}

				&:checked ~ label,
				&:checked ~ .label{

					&:before{
						background: $colorBlue url("/img/glob/checkbox.svg") no-repeat 50% 50%;
						background-size: contain;
						border-color: $colorBlue;
					}
				}
			}

			&[type="submit"]{
				@include box-sizing();
				background: $colorBlue;
				color: #fff;
				cursor: pointer;
				@extend %borderRadius;

				&:not(.btn){
					line-height: $fieldHeight;
					font-size: 16px;
					width: 100%;
					display: block;
				}

				&:hover{
					background-color: $colorBlueLight;
				}
			}
		}
		textarea{
			@include box-sizing();
			width: 100%;
			display: block;
			border: 1px solid $colorGrey;
			background: #fff;
			@extend %borderRadius;
			padding: 15px 18px;
			@include transition(border 0.3s ease);
			height: 280px;

			&:focus{
				border-color: $colorBlue;

				& ~ .placeholder{
					right: 0;
					font-size: 12px;
				}
			}

			.f-error &{
				border-color: $colorRed;
			}

			&:hover{
				border-color: $colorBlue;
			}

			&:disabled{
				background: $colorLight!important;
				border-color: $colorLight!important;
				color: $colorTextDisable!important;
			}
		}

		&-unpass,
		&-ico{
			position: absolute;
			top: 0;
			width: 42px;
			height: $fieldHeight;
			display: block;

			&:before{
				content: '';
				position: absolute;
				top: 6px;
				width: 30px;
				height: 30px;
				display: block;
				background: url("/img/glob/form_ico.svg") no-repeat -100% 0;
				background-size: 300% auto;
			}
		}

		&-ico{
			left: 0;
			pointer-events: none;
			@include border-radius(5px 0 0 5px);

			& ~ input{
				padding-left: 45px!important;
			}

			.f-focused &{
				background-color: rgba($colorBlue,.2);
			}

			&:before{
				left: 6px;

				.form__input_password &{
					background-position: 0 -30px;
				}
				.f-error .form__input_password &{
					background-position: 100% -30px!important;;
				}


				.form__input_url &{
					background-position: 0 -120px;
				}
				.f-error .form__input_url &{
					background-position: 100% -120px!important;;
				}


				.form__input_email &{
					background-position: 0 0;
				}
				.f-error .form__input_email &{
					background-position: 100% 0!important;;
				}


				.form__input_search &{
					background-position: 0 -90px;
				}
				.f-error .form__input_search &{
					background-position: 100% -90px!important;;
				}
			}

		}

		&-unpass{
			right: 0;
			cursor: pointer;

			&:before{
				.form__input_password &{
					background-position: 0 -60px;
				}
			}
		}


		&_email{

			.f-focused &{
				.form__input-ico{
					&:before{
						background-position: 50% 0;
					}
				}
			}

		}

		&_textarea{
			border: 1px solid $colorGrey;
			background: #fff;
			@extend %borderRadius;
			//padding: 15px 18px;
			@include transition(border 0.3s ease);
			height: 280px;
			overflow: hidden;

			.f-focused &{
				border-color: $colorBlue;
			}

			.f-error &{
				border-color: $colorRed;
			}

			&:hover{
				border-color: $colorBlue;
			}


			textarea{
				min-height: 270px;
				height: auto;
				border: none;
				background: transparent;
				resize: none;
				padding: 0 0 0 10px;
				overflow: hidden;
				line-height: 20px;
				margin: 5px 0;
			}
		}

		&_password{

			.f-focused &{
				.form__input-ico{
					&:before{
						background-position: 50% -30px;
					}
				}
			}

			input{

				&[type="password"]{

				}

				&[type="text"]{
					& ~ {
						.form__input-unpass{
							&:before{
								background-position: 50% -60px;
							}
						}
					}
				}
			}
		}

		&_url{

			.f-focused &{
				.form__input-ico{
					&:before{
						background-position: 50% -120px;
					}
				}
			}

		}

		&_radio{
			padding: 14px 0 0;
			color: $colorGreyDark;

			input{
				&[type="radio"]{
					opacity: 0;
					position: absolute;

					& ~ .label,
					& ~ label{
						display: block;
						padding: 0 0 0 41px;
						cursor: pointer;
						min-width: 1px;
						min-height: 16px;

						&:before{
							content: '';
							@include box-sizing();
							width: 30px;
							display: block;
							height: 30px;
							position: absolute;
							top: 6px;
							left: 0;
							border: 1px solid $colorGrey;
							background-color: #fff;
							@include border-radius(50%);

							.f-error &{
								border-color: $colorRed;
							}
						}
					}

					&:checked ~ label,
					&:checked ~ .label{

						&:before{
							background: $colorBlue;
							border-color: $colorBlue;
						}

						&:after{
							content: '';
							@include box-sizing();
							width: 14px;
							display: block;
							height: 14px;
							position: absolute;
							top: 14px;
							left: 8px;
							background-color: #fff;
							@include border-radius(50%);
						}
					}
				}
			}

			.f-error &{
				label,
				.label{
					&:before{
						border-color: $colorRed!important;
					}
				}
			}
		}

		&_checkbox{
			padding: 5px 0;

			.f-error &{
				label,
				.label{
					&:before{
						border-color: $colorRed!important;
					}
				}
			}
		}

		&_text{
			padding: 5px 0;
		}

		&_changebtn{
			margin-top: -12px;
			font-weight: 500;
		}

		&_copy{
			font-size: 0;
			white-space: nowrap;

			.copy{

				&-field{
					@include box-sizing();
					width: calc(100% - 195px);
					line-height: ($fieldHeight - 2px);
					height: $fieldHeight;
					border: 1px solid $colorGrey;
					background: #fff;
					padding: 0 18px 0 18px;
					cursor: default;
					font-size: 14px;
					display: inline-block;
					vertical-align: middle;
					@include border-radius(7px 0 0 7px);
				}

				&-btn{
					display: inline-block;
					vertical-align: middle;
					width: 153px;
					@include border-radius(0);
					@include user-select();
				}

				&-ico{
					width: 42px;
					height: $fieldHeight;
					vertical-align: middle;
					display: inline-block;
					@include border-radius(0 7px 7px 0);
					background: $colorBlueExtraLight url("../img/glob/ico-copy.svg") no-repeat 50% 50%;
				}
			}
		}


		&_radiobutton{
			font-size: 0;

			span{
				display: inline-block;
				vertical-align: middle;

				&:first-child{
					label,
					.label{
						@include border-radius(7px 0 0 7px);
						margin-right: -1px;
					}
				}

				&:last-child{
					label,
					.label{
						@include border-radius(0 7px 7px 0);
					}
				}
			}

			.label{
				display: inline-block;
				font-size: 14px;
				@include box-sizing();
				line-height: ($fieldHeight - 2px);
				height: $fieldHeight;
				border: 1px solid $colorGrey;
				//@extend %borderRadius;
				background: #fff;
				color: $colorGreyDark;
				padding: 0 18px 0 18px;
				@include transition(all 0.3s ease);
				cursor: pointer;
				width: calc(100% + 1px);
				text-align: center;


				&.radiobutton{

					&-male{
						padding-left: 26px;
						position: relative;

						&:before{
							content: '';
							position: absolute;
							width: 24px;
							height: 24px;
							top: 7px;
							left: 7px;
							background: url("../img/dashboard/ico-pack.svg") no-repeat 0 -192px;
						}
					}

					&-female{
						padding-left: 26px;
						position: relative;

						&:before{
							content: '';
							position: absolute;
							width: 24px;
							height: 24px;
							top: 7px;
							left: 7px;
							background: url("../img/dashboard/ico-pack.svg") no-repeat 0 -216px;
						}
					}
				}
			}

			input{
				position: absolute!important;
				opacity: 0!important;
				width: 1px;
				height: 1px;

				&:checked{
					& + label,
					& + .label{
						background: $colorBlue;
						border-color: $colorBlue;
						color: #fff;

						&.radiobutton{

							&-male{
								&:before{
									background-position: -24px -192px;
								}
							}

							&-female{
								&:before{
									background-position: -24px -216px;
								}
							}
						}
					}
				}
			}


		}

		&_logo{

			input{
				position: absolute;
				opacity: 0;
			}

			.image{
				background: #fff no-repeat 50% 50%;
				background-size: 101%;
				@include box-sizing();
				width: 120px;
				display: block;
				height: 120px;
				border: 1px solid $colorGrey;
				@include border-radius(14px);
				@include transition(border 0.3s ease);
				margin-bottom: 25px;
				position: relative;

				.control{
					position: absolute;
					top: 0;
					right: -41px;

					&-btn{
						display: none;
					}
				}

				&.is-loaded{
					.control-btn_clear{
						display: block;
					}
				}

				&.is-edited{
					.control-btn_edit{
						display: block;
					}
				}
			}

			label,
			.label{
				color: $colorBlue;
				font-weight: 500;
				cursor: pointer;
			}

			.link{
				color: $colorBlue;
				cursor: pointer;
			}
		}

		&_phone{
			font-size: 0;

			.select2{
				width: 120px;
				display: inline-block;
				vertical-align: top;
				font-size: 14px;

				.select2-selection--single{
					border-top-right-radius: 0!important;
					border-bottom-right-radius: 0!important;
				}
			}

			input{
				width: calc(100% - 120px)!important;
				display: inline-block!important;
				vertical-align: top;
				font-size: 14px;
				border-top-left-radius: 0!important;
				border-bottom-left-radius: 0!important;
				border-left: none!important;
			}
		}

		&_select{

			.select2{
				width: 100%;
			}
		}
	}


	&__tooltip{



	}


	&__categories{

		font-size: 0;

		&-item{
			display: inline-block;
			white-space: nowrap;
			@extend %borderRadius;
			padding: 8px 50px 8px 20px;
			background: #ddeff9;
			position: relative;
			font-size: 13px;
			color: $colorBlack;
			margin: 0 10px 10px 0;
		}

		&-val{

		}

		&-clear{
			@extend %closeBtn;
			top: 1px;
			right: 1px;

		}
	}

	.grid{
		margin: 0 -7px;
		font-size: 0;
		position: relative;

		&__col{
			padding: 0 7px;
			@include box-sizing();
			display: inline-block;
			font-size: 14px;
			min-height: 1px;
			vertical-align: top;
		}
	}
}


.f{
	&-changin{
		display: none;

		.f-changed & {
			display: block;
		}
	}
	&-changout{

		.f-changed & {
			display: none;
		}
	}
}


.hiddentextarea{
	position: absolute;
	top: -9999px;
	left: -9999px;
	visibility: hidden;
	white-space: pre-wrap;
	width: 210px;
	line-height: 20px;
	min-height: 270px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 0 0 0 10px;
	word-wrap: break-word;
}




.control{
	position: relative;

	&-btn{
		width: 28px;
		height: 28px;
		background: $colorGrey url("../img/glob/cropper.svg")no-repeat 0 0;
		margin-bottom: 14px;
		cursor: pointer;
		@include border-radius(7px);

		&:hover{
			background-color: $colorBlue;
		}

		&_clear{
			background-position: 0 0;
		}
		&_edit{
			background-position: 0 -28px;
		}
		&_rotatecw{
			background-position: 0 -56px;
		}
		&_rotateccw{
			background-position: 0 -84px;
		}
	}
}