html {
	height: 100%;
}

body {
	font-family: 'roboto', sans-serif;
	font-size: 14px;
	width: 100%;
	height: 100%;
	color: $colorBlack;
	line-height: 1.2;
	min-width:$minWidth;
}

a {
	color: $colorBlue;

	&:hover{
		color: $colorBlueExtraLight;
	}
}

.q{
	&-1{
		width: 100%;
	}

	&-1_2{
		width: 50%;
	}

	&-1_3{
		width: (100% / 3);
	}

	&-2_3{
		width: (2 * 100% / 3);
	}

	&-fl{
		float: left;
	}

	&-fr{
		float: right;
	}

	&-ar{
		text-align: right;
	}

	&-ac{
		text-align: center;
	}

	&-nw{
		white-space: nowrap;
	}

	&-i{
		display: inline-block;
		vertical-align: middle;
		width: auto;
	}
}

.tooltip{
	position: absolute;
	display: none;

	&:after{
		content: '';
		display: block;
		position: absolute;
		border: 10px solid transparent;
	}


	&_right{
		top: 50%;
		left: 100%;
		margin-top: -40px;

		&:after{
			left: -20px;
			top: 30px;
			border-right-color: #fff;
		}
	}

	&_left{
		top: 50%;
		right: 100%;
		margin-top: -40px;

		&:after{
			right: -20px;
			top: 30px;
			border-left-color: #fff;
		}
	}

	&_bottom{

		&:after{
			bottom: -20px;
			border-top-color: #fff;
		}
	}

	&_top{

		&:after{
			top: -20px;
			border-bottom-color: #fff;
		}
	}


	&__inner{
		background: #fff;
		border-radius: 15px;
		padding: 30px 30px 30px;
		position: relative;
		width: 380px;
		@include box-sizing();
		@include box-shadow(0 0 20px -5px rgba(0,0,0,0.5));
		font-size: 12px;
	}

	&__close{
		@extend %closeBtn;
	}

	&__title{
		text-align: center;
		font-size: 16px;
		color: $colorBlack;
		margin-bottom: 30px;
		font-weight: 500;

		& + {
			.tooltip__subtitle{
				margin-top: -15px;
			}
		}
	}

	&__subtitle{
		text-align: center;
		margin-bottom: 30px;
	}

	hr{
		@include box-shadow(none);
		height: 1px;
		background: $colorGrey;
		margin: 15px -30px;
	}

	h2{
		font-weight: 400;
		font-size: 14px;
		color: $colorBlack;
		margin-bottom: 10px;
	}

	p{
		margin: 5px 0;
	}

	table{
		width: 100%;

		td{
			padding: 5px 5px 5px 0;

		}
	}

	ul{

		li{
			position: relative;
			padding-left: 18px;
			margin: 10px 0;

			&:before{
				content: '';
				width: 5px;
				height: 5px;
				background: $colorGreyDark;
				border-radius: 50%;
				position: absolute;
				top: 6px;
				left: 0;
			}
		}
	}

	.dots{
		font-size: 0;
		display: inline-block;
		vertical-align: middle;
		margin-right: 4px;
		color: $colorGrey;

		i{
			display: inline-block;
			vertical-align: middle;
			width: 6px;
			height: 6px;
			background: currentColor;
			border-radius: 50%;
			margin-right: 7px;
		}
	}
}


.btn{
	padding: 15px 30px 13px;
	border-radius: 7px;
	background: $colorBlue;
	height: auto;
	line-height: 1;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	display: inline-block;
	cursor: pointer;
	@include user-select();
	@include box-sizing();
	text-align: center;

	&_white{
		background: #fff;
		color: $colorBlue;
	}

	&_poor{
		background: transparent;
		color: $colorGreyDark;
	}


	&_blue{
		background: $colorBlue;
		color: #fff;

		&:hover{
			background: $colorBlueHover;
			color: #fff;
		}
	}

	&_green{
		background: $colorGreen;

		&:hover{
			background: $colorGreenHover;
		}
	}

	&_lighgt{
		color: $colorBlue;
		background: #ddeff9;
	}

	&_field{
		padding-top: 15px;
		padding-bottom: 13px;
	}
}



.wrapper{

	height: 100%;
	filter: blur(0);
	@include transition(filter 0.2s ease);
	min-width: $minWidth;

	.is-blur &{
		filter: blur(5px);
	}
}


.is-hidden{
	display: none!important;
}


template{
	display: none;
}


.hint-bubble{
	background: rgba($colorBlack, 0.85);
	padding: 10px 15px;
	border-radius: 5px;
	position: absolute;
	display: none;
	color: #fff;
	font-size: 13px;
	z-index: 999;
	margin-top: 20px;

	&:before{
		content: '';
		display: block;
		border: 5px solid transparent;
		border-bottom-color: rgba($colorBlack, 0.85);
		position: absolute;
		top: -10px;
		left: 50%;
		margin-left: -5px;
	}
}

