$popupZIndex: 100;
$popupOverlayColor: rgba(0,0,0,0.8);


.popup {

	display: none;
	@include transition(opacity 0.2s linear);
	min-width: $minWidth;

	&.is-open {
		display: block !important;

		&-fade{
			opacity: 0;
		}

		&-fadein{
			opacity: 1;
		}

		&-fadeout{
			opacity: 0;
		}
	}

	&.is-open {
		display: block !important;
	}

	font-family: 'Roboto', sans-serif;

	&__overlay {
		background-color: rgba($colorBlue, 0.9);
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: $popupZIndex;
	}

	&__dragbox{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: $popupZIndex;
		text-align: center;
		background: rgba(#142a3f, 0.98);
		display: none;

		.p-dragged &{
			display: block;
		}

		&:before{
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}

		&-inner{
			position: absolute;
			left: 40px;
			top: 40px;
			right: 40px;
			bottom: 40px;
			border: 2px dashed #67b930;
			@include border-radius(15px);
		}

		&-text{
			padding-top: 120px;
			background: url("/img/dashboard/ico-dragndrop.svg") no-repeat 50% 0;

			font-size: 14px;
			color: #ccc;
			vertical-align: middle;
			display: inline-block;
		}
	}

	&__load{
		margin: 35px 0;
	}

	&__inner {
		height: 100%;
		left: 0;
		overflow: auto;
		position: fixed;
		text-align: center;
		top: 0;
		width: 100%;
		z-index: $popupZIndex;
		display: block;
		background: transparent;
		overflow-y: scroll;
		min-width: $minWidth;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

	}

	&__layout {
		background-color: white;
		box-sizing: border-box;
		display: inline-block;
		margin: 15px auto;
		padding: 0;
		position: relative;
		vertical-align: middle;
		width: 100%;
		max-width: 560px;
		min-height: 100px;
		text-align: left;
		border-radius: 15px;
		@include box-shadow(0 5px 30px rgba(0,0,0,0.15));

		//&:after{
		//	content: '';
		//	display: inline-table;
		//	clear: both;
		//}
	}

	&__close {
		@extend %closeBtn;
	}


	&__info{
		display: none;
		position: absolute;
		top: 0;
		width: 310px;
		border-radius: 15px;
		background: rgba(#fff, 0.8);
		padding: 45px 40px 30px 30px;
		@include box-sizing();
		margin-right: 20px;
		right: 100%;

		&-text{
			font-size: 13px;
			color: $colorGreyDark;
		}

		&-footer{
			font-size: 13px;
			font-weight: 600;
			text-align: right;
			margin-top: 20px;

			a, span{
				display: inline-block;
				margin-left: 25px;
				font-weight: 600;
			}
		}


		&.is-show{
			display: block;
		}

		&-close {
			@extend %closeBtn;
		}


	}


	&__content{

		&-inner{
			padding: 45px 40px 30px;
			@include box-sizing();
		}
	}

	&__logo{
		width: 42px;
		height: 42px;
		background: url("/img/glob/logo_img.svg") no-repeat 50% 50%;
		background-size: cover;
		position: absolute;
		display: block;
		top: 20px;
		left: 40px;
	}

	&__title{
		font-size: 16px;
		color: $colorBlack;
		text-align: center;
		font-weight: 600;
		margin-bottom: 25px;
		padding: 0 100px;
	}

	&__text{

		color: $colorText;
		line-height: 1.4;

		p{
			margin: 15px 0;
		}
	}


	&__footnote{
		font-size: 12px;
		color: $colorTextDisable;
	}

	&__message{
		display: table;
		width: 100%;
		color: $colorText;
		line-height: 1.4;

		&-inner{
			display: table-cell;
			height: 200px;
			vertical-align: middle;
			text-align: center;
		}
	}

	&__footer{
		margin-top: 30px;
	}





	&_category,
	&_prereg,
	&_fullreg{
		.popup{
			&__layout {
				max-width: 900px;
			}
		}
	}

	&_about{
		.popup{
			&__layout {
			}
		}
	}

	&_message{
		.popup{
			&__layout {
			}

			&__footer{
				text-align: center;
			}
		}
	}

	&_shortreg{
		.popup{
			&__layout {
			}
		}
	}
}




.popup__category {

	&-main{
		float: left;
		width: (2 * 100% / 3);
		@include box-sizing();
		border-right: 1px solid $colorGrey;
	}

	&-head{
		border-bottom: 1px solid $colorGrey;
		padding: 45px 30px 10px;
		height: 165px;
		@include box-sizing();
	}

	&-result{
		float: left;
		width: (100% / 3);
		@include box-sizing();
		padding: 45px 30px 10px;
		height: 680px;


		&.is-empty{
			.on-h{
				display: none;
			}

			.on-s{
				display: block;
			}
		}
	}

	&-form{
		input{
			background: $colorLight;
		}
	}


	&-inner{
		padding-bottom: 30px;
	}

	&-column{
		float: left;
		width: 50%;
		height: 515px;
		@include box-sizing();

		&_left{
			@include box-sizing();
			border-right: 1px solid $colorGrey;
		}
	}

	&-list{
		color: $colorGreyDark;
		font-size: 13px;
		line-height: 1.2;
		height: 100%;
		overflow: auto;
		position: relative;

		.popup__category-column &{
			padding: 0 15px 0 60px;

			.mCSB_container{
				padding: 0 15px 0 60px;
			}
		}

		.popup__category-result &{
			//padding: 0 30px 0 30px;
			height: calc(100% - 120px);
			margin-bottom: 20px;
			margin-right: -30px;

		}

		&.js-scrollbar{
			padding: 0;
		}



		&.is-loading{

			opacity: 0.7;

			&:before{
				content: '';
				background: url("/img/loader.svg") no-repeat 50% 50%;
				background-size: cover;
				width: 80px;
				height: 80px;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
			}
		}

		&.is-scan{
			.popup__category-group{
				display: none;

				&.is-found{
					display: block;
				}
			}
			.popup__category-link{
				display: none;

				&.is-found{
					display: block;
				}
			}
		}
	}

	&-item{
		display: block;
		margin: 15px 0;
		color: $colorGreyDark;
		font-size: 13px;
		line-height: 1.2;

		&.on-s{
			display: none;
		}
	}

	&-link{
		position: relative;
		display: block;
		white-space: nowrap;
		margin: 0 0 0 -12px;
		padding: 7px 30px 8px 12px;
		@include user-select();

		.popup__category-column_left &{
			span{
				cursor: pointer;
			}
		}

		.popup__category-column_right &{
			span{
				cursor: pointer;
			}
		}

		.popup__category-result &{
			padding: 7px 30px 8px 30px;
			margin: 0;
		}

		span{
			white-space: normal;
		}

		.count{
			margin-left: 5px;
			color: $colorBlue;
		}

		.act{
			position: absolute;
			top: 5px;
			right: 5px;
			background: $colorGrey url("/img/glob/add.svg") 0 0;
			border-radius: 50%;
			width: 20px;
			height: 20px;
			display: none;
			cursor: pointer;

			.popup__category-result & {
				right: auto;
				left: 0;
				display: block;
				@include transform(rotate(45deg));
			}
		}

		&:hover{
			color: $colorBlack;

			.popup__category-result &,
			.popup__category-column_right &{
				color: $colorBlue;

				.act{
					background-color: $colorBlue;
					display: block;
				}
			}


		}

		&.is-added{
			color: #000;
			.popup__category-column_right &{
				color: #000;
			}
			.act{
				@include transform(rotate(45deg));
				display: block;

				.popup__category-column_right &{
					background-color: $colorGrey;
				}
			}
		}

		&.is-active{
			color: #fff;
			background: $colorBlue;
			border-radius: 7px;
			cursor: pointer;

			.count{
				color: #fff;
			}

			.act{
				background-color: #fff;
				background-position: -20px 0;
			}
		}
	}


	&-control{
		font-size: 14px;
		font-weight: 600;

		span, a{
			display: inline-block;
			margin-right: 25px;
		}
	}

	&-letter{
		//margin-bottom: -22px;
		//margin-left: -30px;
		//margin-top: 7px;

		position: absolute;
		left: -30px;
		top: 7px;
	}

	&-group{
		position: relative;
	}

	&-title{
		display: block;
		margin: 5px 0 0 -12px;
		padding: 7px 30px 8px 12px;
		color: $colorTextDisable;

		//& + .popup__category-letter{
		//	margin-top: -23px;
		//	margin-bottom: 8px;
		//}
	}

}



.popup_about{
	.popup{

		&__footer{
			text-align: right;


			a{
				margin-left: 40px;
				font-weight: 500;
			}
		}
	}
}

.popup_prereg{
	.popup{

		&__advantage{
			color: $colorText;
			line-height: 1.4;

			display: table;
			width: 100%;
			border-top: 1px solid $colorGrey;

			&-title{
				text-align: center;
				color: $colorBlack;
				font-weight: 600;
				margin-bottom: 20px;
			}

			&-row{
				display: table-row;

				&:first-child{
					.popup__advantage-col{
						padding-top: 40px;
					}
				}

				&:last-child{
					.popup__advantage-col{
						padding-bottom: 40px;
					}
				}
			}

			&-col{

				display: table-cell;
				padding: 15px 40px;

				&:first-child{
					border-right: 1px solid $colorGrey;
				}

			}

			ul{
				li{
					margin: 20px 0;
					position: relative;
					padding-left: 40px;

					&:before{
						content: '';
						display: block;
						width: 20px;
						height: 20px;
						border-radius: 50%;
						background: #bfe0a9 url("/img/cup/plus.svg") no-repeat 50% 50%;
						background-size: cover;
						position: absolute;
						left: 0;
						top: 0;
					}
				}
			}
		}
	}
}


.popup_shortreg{

	.popup{


		&__content-inner{
			padding-right: 30px;
			padding-left: 30px;
		}

	}
}

.popup_fullreg{

	.popup{


		&__content-inner{
			padding-right: 90px;
		}

	}

	textarea{
		//height: 280px;
	}
}



.popup_imageload{

	.popup{


		&__layout{
			max-width: 674px;
		}


		&__content-inner{
			text-align: center;
		}


		&__load{

			&-progress{
				width: 170px;
				height: 170px;
				margin: 0 auto;
				position: relative;

				&-svg{

					circle{
						fill: none;
						stroke-width: 10px;
					}

					.svg{
						&-circle{
							stroke: #e3e5e8;
						}
						&-pie{
							stroke: $colorBlue;
							stroke-dashoffset: 500;
							stroke-dasharray: 500;
							stroke-linecap: round;

						}
					}

				}



				&-val{
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					color: $colorBlue;
					font-size: 40px;
					height: 40px;
					line-height: 40px;
				}
			}


			&-cropper{
				width: 334px;
				height: 321px;
				margin: 0 auto;
				position: relative;

				&-container{
					width: 100%;
					height: 100%;
					border: 1px solid $colorGrey;
					@include border-radius(14px);
					overflow: hidden;
				}

				&-control{
					position: absolute;
					top: 0;
					right: -42px;
				}
			}
		}
	}
}

