$colorBlack: #1e1e1e;
$colorLight: #f0f0f0;
$colorGrey: #ccc;
$colorTextDisable: #919191;
$colorText: #757575;
$colorGreyDark: #6a6a6a;
$colorBlue: #3399ff;
$colorBlueLight: #4da7ff;
$colorBlueExtraLight: #66b4ff;
$colorBlueHover: $colorBlueExtraLight;
$colorRed: #ff6666;
$colorRedLight: #ff8080;
$colorYellow: #ffab66;
$colorGreen: #67b930;
$colorGreenHover: #7dcb49;
$minWidth: 1280px;


.c{
	&-blue{
		color: $colorBlue !important;
	}
	&-red{
		color: $colorRed !important;
	}
	&-yellow{
		color: $colorYellow !important;
	}
	&-green{
		color: $colorGreen !important;
	}
	&-black{
		color: $colorBlack !important;
	}
	&-dis{
		color: $colorTextDisable !important;
	}
	&-grey{
		color: $colorGreyDark !important;
	}
}

%borderRadius{
	@include border-radius(7px);
}

%closeBtn{
	position: absolute;
	width: 30px;
	height: 30px;
	background: url("/img/glob/close.svg") no-repeat 0 0;
	background-size: cover;
	cursor: pointer;
	top: 22px;
	right: 22px;

	&:hover{
		background-position: 100% 0;
	}
}

@mixin close{
	width: 30px;
	height: 30px;
	background: url("/img/glob/close.svg") no-repeat 0 0;
	background-size: cover;
	cursor: pointer;
	top: 22px;
	right: 22px;

	&:hover{
		background-position: 100% 0;
	}
}







.ico{
	display: inline-block;
	background: url("../img/dashboard/ico-pack.svg") no-repeat 0 0;

	&_danger{
		width: 20px;
		height: 20px;
		background-position: -50px -2px;
	}

	&_close{
		width: 16px;
		height: 16px;
		background-position: -52px -28px;
	}
}