.select2-selection--single {
	background-color: #fff;

	border: 1px solid $colorGrey;
	@include border-radius(7px);
	@include transition(border-color .3s ease);

	&:hover{
		border-color: $colorBlue;
	}

	.select2-selection__rendered {
		color: $colorBlack;
		line-height: 40px;
	}

	.select2-selection__clear {
		cursor: pointer;
		float: right;
		font-weight: bold;
	}

	.select2-selection__placeholder {
		color: #c8c8c8;
	}

	.select2-selection__arrow {
		height: 40px;
		border-radius: 0 6px 6px 0;

		position: absolute;

		top: 1px;
		right: 1px;
		width: 56px;
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%);
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 100%);


		b {

			&:before,
			&:after{
				content: '';
				width: 2px;
				height: 8px;
				background: $colorTextDisable;
				display: block;
				position: absolute;
				margin-top: -4px;
				top: 50%;
				right: 24px;
				border-radius: 5px;
				@include transition(all 0.3s ease);
			}
			&:before{
				margin-right: 1px;
				@include transform(rotate(-45deg));
			}
			&:after{
				margin-right: -3px;
				@include transform(rotate(45deg));
			}
		}
	}
}

&[dir="rtl"] {
	.select2-selection--single {
		.select2-selection__clear {
			float: left;
		}

		.select2-selection__arrow {
			left: 1px;
			right: auto;
		}
	}
}

&.select2-container--disabled {
	.select2-selection--single {
		background-color: #f0f0f0;
		cursor: default;
		border-color: #f0f0f0;

		.select2-selection__clear {
			display: none;
		}

		.select2-selection__arrow {
			background: -moz-linear-gradient(left, rgba(240,240,240,0) 0%, rgba(240,240,240,0) 1%, rgba(240,240,240,1) 40%, rgba(240,240,240,1) 100%);
			background: -webkit-linear-gradient(left, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 1%,rgba(240,240,240,1) 40%,rgba(240,240,240,1) 100%);
			background: linear-gradient(to right, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 1%,rgba(240,240,240,1) 40%,rgba(240,240,240,1) 100%);

			b{
				&:before,
				&:after{
					background: #c8c8c8;
				}
			}
		}
	}
}

&.select2-container--open {
	.select2-selection--single {
		.select2-selection__arrow {
			b {
				&:before,
				&:after{
					height: 12px;
					margin-right: -1px;
					margin-top: -6px;
				}
				&:before{
					@include transform(rotate(45deg));
				}
				&:after{
					@include transform(rotate(-45deg));
				}
			}
		}
	}
}


.select2-icon{
	margin-right: 10px;
	vertical-align: middle;
}